In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline
#import seaborn as sns


from sklearn.preprocessing import LabelEncoder, StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [ ]:
import warnings
warnings.simplefilter(action='ignore')

In [ ]:
# train dataset
df = pd.read_csv("FMCG_data.csv")

# test dataset
df_test = pd.read_csv("FMCG_data.csv")

In [ ]:
df

In [ ]:

df.nunique().sort_values(ascending=False)

In [ ]:
df.drop(columns=['Ware_house_ID','WH_Manager_ID','Date'], inplace = True)

In [ ]:
df['workers_num'].median()

In [ ]:
df['approved_wh_govt_certificate'].mode()

In [ ]:
df['approved_wh_govt_certificate'].fillna(df['approved_wh_govt_certificate'].mode()[0], inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.nunique().sort_values(ascending= True)

In [ ]:
for i in df.columns[df.nunique()<=4]:
    print("Number of unique values in column ", i, ' :', len(df[i].unique()))
    print(df[i].value_counts())
    print(' ')

In [ ]:
def count_outliers(df):
    outliers={}
    for i in df.columns:
        if pd.api.types.is_numeric_dtype(df[i]):
            q1 = df[i].quantile(0.25)
            q3 = df[i].quantile(0.75)
            iqr = q3 - q1
            lower = q1 - 1.5*iqr
            upper = q3 + 1.5*iqr
            outliers[i] = df[(df[i] < lower) | (df[i] > upper)].shape[0]
        else:
            pass
    return outliers

In [ ]:
outlier_counts = count_outliers(df)
outlier_counts

In [ ]:
df['product_wg_ton'].corr(df['flood_proof'])

In [ ]:
df['product_wg_ton'].corr(df['flood_impacted'])

In [ ]:
df.drop(columns=['flood_proof', 'flood_impacted'], inplace = True)

In [ ]:
def remove_outliers(df):
    num_df = df.select_dtypes(include=['int', 'float'])
    q1 = num_df.quantile(0.25)
    q3 = num_df.quantile(0.75)
    iqr = q3 - q1
    lower = q1 - 1.5*iqr
    upper = q3 + 1.5*iqr
    df_no_outliers = num_df[((num_df >= lower) & (num_df <= upper)).all(axis=1)]
    return df.loc[df_no_outliers.index]

In [ ]:
df = remove_outliers(df)
df.shape

In [ ]:
df_test.nunique().sort_values(ascending=False)

In [ ]:
df_test.drop(columns=['Ware_house_ID', 'WH_Manager_ID'], inplace = True)

In [ ]:
print(len(df_test[df_test.duplicated]))

In [ ]:
# print percentage of null values in each column

null_values_features = [i for i in df_test.columns if df_test[i].isnull().sum()>1]
for i in null_values_features:
    print(i, np.round(df_test[i].isnull().mean()*100, 2), "% missing values")

In [ ]:

df_test.drop(columns=['wh_est_year'], inplace = True)

In [ ]:
df_test['workers_num'].median()

In [ ]:
df_test['workers_num'].fillna(df_test['workers_num'].median(), inplace=True)

In [ ]:
df_test['approved_wh_govt_certificate'].mode()

In [ ]:
df_test['approved_wh_govt_certificate'].fillna(df_test['approved_wh_govt_certificate'].mode()[0], inplace=True)

In [ ]:
df_test.isnull().sum()

In [ ]:
df_test.nunique().sort_values(ascending= True)

In [ ]:
for i in df_test.columns[df_test.nunique()<=4]:
    print("Number of unique values in column ", i, ' :', len(df_test[i].unique()))
    print(df_test[i].value_counts())
    print(' ')

In [ ]:
df_test['product_wg_ton'].corr(df_test['storage_issue_reported'])

In [ ]:
df_test.drop(columns=['flood_proof', 'flood_impacted'], inplace = True)

In [ ]:
def remove_outliers(df_test):
    num_df = df_test.select_dtypes(include=['int', 'float'])
    q1 = num_df.quantile(0.25)
    q3 = num_df.quantile(0.75)
    iqr = q3 - q1
    lower = q1 - 1.5*iqr
    upper = q3 + 1.5*iqr
    df_no_outliers = num_df[((num_df >= lower) & (num_df <= upper)).all(axis=1)]
    return df_test.loc[df_no_outliers.index]

In [ ]:
df_test = remove_outliers(df_test)

In [ ]:
df_test.shape

In [ ]:
df_test.columns

In [ ]:
# Numerical columns & categorical columns in train dataset

num_columns_train=[i for i in df.columns if df[i].dtypes != 'O']
cat_columns_train=[i for i in df.columns if df[i].dtypes == 'O']

# Numerical columns & categorical columns in test dataset

num_columns_test=[i for i in df_test.columns if df_test[i].dtypes != 'O']
cat_columns_test=[i for i in df_test.columns if df_test[i].dtypes == 'O']

In [ ]:
for i in cat_columns_train:
    df[i] = LabelEncoder().fit_transform(df[i])

for i in cat_columns_test:
    df_test[i] = LabelEncoder().fit_transform(df_test[i])

In [ ]:
# display number of unique values in each column
df.nunique().sort_values(ascending=False)

In [ ]:
columns_with_more_than_two_unique_values_train = df.columns[df.nunique()>2]

In [ ]:
columns_with_more_than_two_unique_values_test = df_test.columns[df_test.nunique()>2]

In [ ]:

X_train = df.drop(['product_wg_ton','wh_est_year', 'WH_regional_zone'], axis=1)
Y_train = df['product_wg_ton']

In [ ]:
X_train.columns

In [ ]:
X_test = df_test.drop(['product_wg_ton','WH_regional_zone','Date'], axis=1)

In [ ]:
X_test.columns

In [ ]:
LRmodel = LinearRegression()

In [ ]:

LRmodel.fit(X_train, Y_train)

In [ ]:
LR_predicted = LRmodel.predict(X_test)

In [ ]:
LR_predicted

In [ ]:
LR_predicted.shape

In [ ]:
X_test.shape

In [ ]:
predictions_1 = pd.DataFrame(LR_predicted, columns =['product_wg_ton_pred']) 
predictions_1

In [ ]:
predictions_1.to_csv('predictions_1.csv', index=False)

In [ ]:
X_test.to_csv('X_test.csv', index=False)

In [ ]:
# with changes in Location and approved certificates

In [2]:
import pandas as pd

In [3]:
df2 = pd.read_csv("WH_opt_pred.csv")

In [4]:
df2

,Location_type,WH_capacity_size,zone,Refill_Requests,transport_issue,No_of_Competitor,No_of_retailers,Warehouse_Ownership,Number_of_distributors,electric_supply,dist_from_hub,workers_num,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton_pred
0,1,2,3,3,1,2,4651,1,24,1,91,29,13,0,1,5,15,19980.32349
1,0,0,1,0,0,4,6217,0,47,1,210,31,4,0,1,3,17,11659.06390
2,0,1,2,1,0,4,4306,0,64,0,161,37,17,0,1,6,22,26112.39661
3,0,1,1,7,4,2,6000,1,50,0,103,21,17,1,2,3,27,24292.04244
4,0,0,1,3,1,2,4740,0,42,1,112,25,18,0,5,6,24,22339.00089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308317,0,2,1,11,0,7,6256,1,68,1,142,62,8,0,4,28,38,30741.94443
308318,0,1,3,4,7,1,5332,0,85,1,130,39,23,0,3,21,36,39089.53354
308319,1,0,2,12,4,0,4044,1,65,1,147,27,12,1,1,30,55,36649.42276
308320,0,1,3,3,3,4,4988,0,56,1,239,57,22,0,4,16,41,35867.24242
308321,1,2,3,4,2,3,4021,1,79,1,91,56,5,0,1,33,39,33085.05712

In [5]:
df2['approved_wh_govt_certificate'] = df2['approved_wh_govt_certificate'].replace([5,3], [3, 2])
df2

,Location_type,WH_capacity_size,zone,Refill_Requests,transport_issue,No_of_Competitor,No_of_retailers,Warehouse_Ownership,Number_of_distributors,electric_supply,dist_from_hub,workers_num,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton_pred
0,1,2,3,3,1,2,4651,1,24,1,91,29,13,0,1,5,15,19980.32349
1,0,0,1,0,0,4,6217,0,47,1,210,31,4,0,1,3,17,11659.06390
2,0,1,2,1,0,4,4306,0,64,0,161,37,17,0,1,6,22,26112.39661
3,0,1,1,7,4,2,6000,1,50,0,103,21,17,1,2,3,27,24292.04244
4,0,0,1,3,1,2,4740,0,42,1,112,25,18,0,3,6,24,22339.00089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308317,0,2,1,11,0,7,6256,1,68,1,142,62,8,0,4,28,38,30741.94443
308318,0,1,3,4,7,1,5332,0,85,1,130,39,23,0,2,21,36,39089.53354
308319,1,0,2,12,4,0,4044,1,65,1,147,27,12,1,1,30,55,36649.42276
308320,0,1,3,3,3,4,4988,0,56,1,239,57,22,0,4,16,41,35867.24242
308321,1,2,3,4,2,3,4021,1,79,1,91,56,5,0,1,33,39,33085.05712

In [5]:
df2['Location_type'].replace(0, 1, inplace=True)

print(df2)

        Location_type  WH_capacity_size  zone  Refill_Requests  \
0                   1                 2     3                3
1                   1                 0     1                0
2                   1                 1     2                1
3                   1                 1     1                7
4                   1                 0     1                3
...               ...               ...   ...              ...
308317              1                 2     1               11
308318              1                 1     3                4
308319              1                 0     2               12
308320              1                 1     3                3
308321              1                 2     3                4

        transport_issue  No_of_Competitor  No_of_retailers  \
0                     1                 2             4651
1                     0                 4             6217
2                     0                 4             4306
3                     4                 2             6000
4                     1                 2             4740
...                 ...               ...              ...
308317                0                 7             6256
308318                7                 1             5332
308319                4                 0             4044
308320                3                 4             4988
308321                2                 3             4021

        Warehouse_Ownership  Number_of_distributors  electric_supply  \
0                         1                      24                1
1                         0                      47                1
2                         0                      64                0
3                         1                      50                0
4                         0                      42                1
...                     ...                     ...              ...
308317                    1                      68                1
308318                    0                      85                1
308319                    1                      65                1
308320                    0                      56                1
308321                    1                      79                1

        dist_from_hub  workers_num  storage_issue_reported  temp_reg_mach  \
0                  91           29                      13              0
1                 210           31                       4              0
2                 161           37                      17              0
3                 103           21                      17              1
4                 112           25                      18              0
...               ...          ...                     ...            ...
308317            142           62                       8              0
308318            130           39                      23              0
308319            147           27                      12              1
308320            239           57                      22              0
308321             91           56                       5              0

        approved_wh_govt_certificate  wh_breakdown  govt_check  \
0                                  1             5          15
1                                  1             3          17
2                                  1             6          22
3                                  2             3          27
4                                  5             6          24
...                              ...           ...         ...
308317                             4            28          38
308318                             3            21          36
308319                             1            30          55
308320                             4            16          41
308321                             1            33          39

        product_wg_ton_pred
0               19980.32349
1               11659.06390
2               26112.39661
3               24292.04244
4               22339.00089
...                     ...
308317          30741.94443
308318          39089.53354
308319          36649.42276
308320          35867.24242
308321          33085.05712

[308322 rows x 18 columns]