In [1]:
import numpy as np
import pandas as pd

In [2]:

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

import time

from snowflake.snowpark.session import Session
import configparser

In [3]:
import warnings
warnings.filterwarnings("ignore")

config = configparser.ConfigParser()
config.read("snowflake_connection.ini")

connection_parameters = {
    "user": f'{config["Snowflake"]["user"]}',
    "password": f'{config["Snowflake"]["password"]}',
    "account": f'{config["Snowflake"]["account"]}',
    "WAREHOUSE": f'{config["Snowflake"]["WAREHOUSE"]}',
    "DATABASE": f'{config["Snowflake"]["DATABASE"]}',
    "SCHEMA": f'{config["Snowflake"]["SCHEMA"]}'
}

In [4]:
def snowflake_connector(conn):
    try:
        session = Session.builder.configs(conn).create()
        print("connection successful!")
    except:
        raise ValueError("error while connecting with db")
    return session

session = snowflake_connector(connection_parameters)

ValueError: error while connecting with db

In [5]:
import pandas as pd
df = pd.read_csv("FMCG_data.csv")

In [6]:
df
# test dataset
df_test = pd.read_csv("FMCG_data.csv")
df_test

,Date,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,Refill_Requests,transport_issue,No_of_Competitor,...,electric_supply,dist_from_hub,workers_num,wh_est_year,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton
0,2023-01-01,WH_100000,EID_50000,Urban,Small,West,Zone 6,3,1,2,...,1,91,29.0,NaN,13,0.0,A,5.0,15.0,17115.0
1,2023-01-01,WH_100001,EID_50001,Rural,Large,North,Zone 5,0,0,4,...,1,210,31.0,NaN,4,0.0,A,3.0,17.0,5074.0
2,2023-01-01,WH_100002,EID_50002,Rural,Mid,South,Zone 2,1,0,4,...,0,161,37.0,NaN,17,0.0,A,6.0,22.0,23137.0
3,2023-01-01,WH_100003,EID_50003,Rural,Mid,North,Zone 3,7,4,2,...,0,103,21.0,NaN,17,1.0,A+,3.0,27.0,22115.0
4,2023-01-01,WH_100004,EID_50004,Rural,Large,North,Zone 5,3,1,2,...,1,112,25.0,2009.0,18,0.0,C,6.0,24.0,24071.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349996,2024-02-01,WH_124996,EID_74996,Rural,Mid,West,Zone 2,4,7,1,...,1,130,39.0,2005.0,23,0.0,B,21.0,36.0,37853.0
349997,2024-02-01,WH_124997,EID_74997,Urban,Large,South,Zone 5,12,4,0,...,1,147,27.0,2012.0,12,1.0,A,30.0,55.0,65888.0
349998,2024-02-01,WH_124998,EID_74998,Rural,Small,North,Zone 1,1,4,10,...,1,60,44.0,NaN,24,0.0,B,17.0,38.0,38534.0
349999,2024-02-01,WH_124999,EID_74999,Rural,Mid,West,Zone 4,3,3,4,...,1,239,57.0,NaN,22,0.0,B+,16.0,41.0,58351.0
350000,2024-02-01,WH_100000,EID_50000,Urban,Small,West,Zone 6,4,2,3,...,1,91,56.0,2019.0,5,0.0,A,33.0,39.0,50619.0

In [7]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline



from sklearn.preprocessing import LabelEncoder, StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [8]:
# display first 5 rows from train data

df.head().T

,0,1,2,3,4
Date,2023-01-01,2023-01-01,2023-01-01,2023-01-01,2023-01-01
Ware_house_ID,WH_100000,WH_100001,WH_100002,WH_100003,WH_100004
WH_Manager_ID,EID_50000,EID_50001,EID_50002,EID_50003,EID_50004
Location_type,Urban,Rural,Rural,Rural,Rural
WH_capacity_size,Small,Large,Mid,Mid,Large
zone,West,North,South,North,North
WH_regional_zone,Zone 6,Zone 5,Zone 2,Zone 3,Zone 5
Refill_Requests,3,0,1,7,3
transport_issue,1,0,0,4,1
No_of_Competitor,2,4,4,2,2
No_of_retailers,4651,6217,4306,6000,4740
Warehouse_Ownership,Rented,Company Owned,Company Owned,Rented,Company Owned
Number_of_distributors,24,47,64,50,42
flood_impacted,0,0,0,0,1
flood_proof,1,0,0,0,0
electric_supply,1,1,0,0,1
dist_from_hub,91,210,161,103,112
workers_num,29.0,31.0,37.0,21.0,25.0
wh_est_year,NaN,NaN,NaN,NaN,2009.0
storage_issue_reported,13,4,17,17,18
temp_reg_mach,0.0,0.0,0.0,1.0,0.0
approved_wh_govt_certificate,A,A,A,A+,C
wh_breakdown,5.0,3.0,6.0,3.0,6.0
govt_check,15.0,17.0,22.0,27.0,24.0
product_wg_ton,17115.0,5074.0,23137.0,22115.0,24071.0

In [9]:
# shape and size of train data

print("Shape : ", df.shape)
print("Size : ", df.size)

Shape :  (350001, 25)
Size :  8750025

In [10]:
# shape and size of test data

print("Shape : ", df_test.shape)
print("Size : ", df_test.size)

Shape :  (350001, 25)
Size :  8750025

In [11]:
#display all columns

print(df.columns)
print(' ')
print("Total columns in train dataset = ", len(df.columns))
print("Total columns in test dataset = ", len(df_test.columns))

Index(['Date', 'Ware_house_ID', 'WH_Manager_ID', 'Location_type',
       'WH_capacity_size', 'zone', 'WH_regional_zone', 'Refill_Requests',
       'transport_issue', 'No_of_Competitor', 'No_of_retailers',
       'Warehouse_Ownership', 'Number_of_distributors', 'flood_impacted',
       'flood_proof', 'electric_supply', 'dist_from_hub', 'workers_num',
       'wh_est_year', 'storage_issue_reported', 'temp_reg_mach',
       'approved_wh_govt_certificate', 'wh_breakdown', 'govt_check',
       'product_wg_ton'],
      dtype='object')

Total columns in train dataset =  25
Total columns in test dataset =  25

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350001 entries, 0 to 350000
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Date                          350001 non-null  object
 1   Ware_house_ID                 350001 non-null  object
 2   WH_Manager_ID                 350001 non-null  object
 3   Location_type                 350001 non-null  object
 4   WH_capacity_size              350001 non-null  object
 5   zone                          350001 non-null  object
 6   WH_regional_zone              350001 non-null  object
 7   Refill_Requests               350001 non-null  int64
 8   transport_issue               350001 non-null  int64
 9   No_of_Competitor              350001 non-null  int64
 10  No_of_retailers               350001 non-null  int64
 11  Warehouse_Ownership           350001 non-null  object
 12  Number_of_distributors        350001 non-null  int64
 13  flood_impacted                350001 non-null  int64
 14  flood_proof                   350001 non-null  int64
 15  electric_supply               350001 non-null  int64
 16  dist_from_hub                 350001 non-null  int64
 17  workers_num                   349011 non-null  float64
 18  wh_est_year                   183666 non-null  float64
 19  storage_issue_reported        350001 non-null  int64
 20  temp_reg_mach                 350000 non-null  float64
 21  approved_wh_govt_certificate  337288 non-null  object
 22  wh_breakdown                  350000 non-null  float64
 23  govt_check                    350000 non-null  float64
 24  product_wg_ton                350000 non-null  float64
dtypes: float64(6), int64(10), object(9)
memory usage: 66.8+ MB

In [13]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350001 entries, 0 to 350000
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Date                          350001 non-null  object
 1   Ware_house_ID                 350001 non-null  object
 2   WH_Manager_ID                 350001 non-null  object
 3   Location_type                 350001 non-null  object
 4   WH_capacity_size              350001 non-null  object
 5   zone                          350001 non-null  object
 6   WH_regional_zone              350001 non-null  object
 7   Refill_Requests               350001 non-null  int64
 8   transport_issue               350001 non-null  int64
 9   No_of_Competitor              350001 non-null  int64
 10  No_of_retailers               350001 non-null  int64
 11  Warehouse_Ownership           350001 non-null  object
 12  Number_of_distributors        350001 non-null  int64
 13  flood_impacted                350001 non-null  int64
 14  flood_proof                   350001 non-null  int64
 15  electric_supply               350001 non-null  int64
 16  dist_from_hub                 350001 non-null  int64
 17  workers_num                   349011 non-null  float64
 18  wh_est_year                   183666 non-null  float64
 19  storage_issue_reported        350001 non-null  int64
 20  temp_reg_mach                 350000 non-null  float64
 21  approved_wh_govt_certificate  337288 non-null  object
 22  wh_breakdown                  350000 non-null  float64
 23  govt_check                    350000 non-null  float64
 24  product_wg_ton                350000 non-null  float64
dtypes: float64(6), int64(10), object(9)
memory usage: 66.8+ MB

In [14]:
df.dtypes.value_counts()

int64      10
object      9
float64     6
Name: count, dtype: int64

In [15]:
# display two sample rows of columns with int dtype

df.select_dtypes(include='int64').sample(2).T

                        177639  114065
Refill_Requests              6       2
transport_issue              8       1
No_of_Competitor             5       5
No_of_retailers           3253    3866
Number_of_distributors      61      49
flood_impacted               0       0
flood_proof                  0       0
electric_supply              1       1
dist_from_hub              114     200
storage_issue_reported      35      23

In [16]:
# display two sample rows of columns with object dtype

df.select_dtypes(include='object').sample(2).T

                                  188525      2103
Date                          2023-08-01  2023-01-01
Ware_house_ID                  WH_113525   WH_102103
WH_Manager_ID                  EID_63525   EID_52103
Location_type                      Rural       Rural
WH_capacity_size                   Large       Large
zone                               North       North
WH_regional_zone                  Zone 6      Zone 5
Warehouse_Ownership               Rented      Rented
approved_wh_govt_certificate           C           C

In [17]:
# display two sample rows of columns with float dtype

df.select_dtypes(include='float64').sample(2).T

                 277127   44889
workers_num        57.0     41.0
wh_est_year      2014.0   2013.0
temp_reg_mach       0.0      1.0
wh_breakdown       19.0      7.0
govt_check         49.0     13.0
product_wg_ton  17119.0  22073.0

In [18]:
for i in df:
    print(i)
    print(df[i].unique())
    print("Length of unique values in column ", i, ' :', len(df[i].unique()))
    print(' ')

Date
['2023-01-01' '2023-02-01' '2023-03-01' '2023-04-01' '2023-05-01'
 '2023-06-01' '2023-07-01' '2023-08-01' '2023-09-01' '2023-10-01'
 '2023-11-01' '2023-12-01' '2024-01-01' '2024-02-01']
Length of unique values in column  Date  : 14

Ware_house_ID
['WH_100000' 'WH_100001' 'WH_100002' ... 'WH_124997' 'WH_124998'
 'WH_124999']
Length of unique values in column  Ware_house_ID  : 25000

WH_Manager_ID
['EID_50000' 'EID_50001' 'EID_50002' ... 'EID_74997' 'EID_74998'
 'EID_74999']
Length of unique values in column  WH_Manager_ID  : 25000

Location_type
['Urban' 'Rural']
Length of unique values in column  Location_type  : 2

WH_capacity_size
['Small' 'Large' 'Mid']
Length of unique values in column  WH_capacity_size  : 3

zone
['West' 'North' 'South' 'East']
Length of unique values in column  zone  : 4

WH_regional_zone
['Zone 6' 'Zone 5' 'Zone 2' 'Zone 3' 'Zone 1' 'Zone 4']
Length of unique values in column  WH_regional_zone  : 6

Refill_Requests
[ 3  0  1  7  8  4  6  5  2  9 10 11 12 13 14 15 16 17 18 20 19 21 23 22
 25 24 26]
Length of unique values in column  Refill_Requests  : 27

transport_issue
[ 1  0  4  3  2  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22]
Length of unique values in column  transport_issue  : 23

No_of_Competitor
[ 2  4  3  5  1  8  7  6 10  9 12  0 11 13 14 16 15 18 17 19 20 22 21]
Length of unique values in column  No_of_Competitor  : 23

No_of_retailers
[ 4651  6217  4306 ...   998 10963 12060]
Length of unique values in column  No_of_retailers  : 9068

Warehouse_Ownership
['Rented' 'Company Owned']
Length of unique values in column  Warehouse_Ownership  : 2

Number_of_distributors
[ 24  47  64  50  42  37  38  45  35  31  40  48  26  68  16  28  58  19
  49  69  32  25  46  62  67  21  51  57  59  23  17  56  22  63  30  53
  66  36  29  44  55  39  54  33  27  18  65  34  52  43  70  60  61  41
  15  20  73  74  71  75  72  77  76  14  13  78  81  80  79  83  82  12
  84  11  85  86  87  91  88  90  89  92   9  10  93  94  95  97  96   8
  98 100 101  99 102 104 103 106 108 107 105 112 111 109 110 115 113 114
 116 118 117 122 121 120 123 119 124 128 130 125 127 126 131 137 132 129
 134 133 136 138 139 141 140 135 145 146 142 144]
Length of unique values in column  Number_of_distributors  : 138

flood_impacted
[0 1]
Length of unique values in column  flood_impacted  : 2

flood_proof
[1 0]
Length of unique values in column  flood_proof  : 2

electric_supply
[1 0]
Length of unique values in column  electric_supply  : 2

dist_from_hub
[ 91 210 161 103 112 152  77 241 124  78 150 225  95 242 129 190 231 261
 159 189  65 156 199  80 140  67 229  98 154 230 164 197 262 125  94 153
 216 247 123 167 220 134  64 196 240  85 253  66 168 219 110  69 239 237
 113 181 255  90 151  58 256  84  83 173 212 158  55 257  70 160  96 108
 271 263 234 109 198 182 114 166 141 165 204  60 130 254 227 248 252 177
 105  79 232 171  92 223 144  86 128 145  99 115 187 200 260 215  97 106
 133 218 119 206 233 235  81 264 142 101 186 246 176 267 211 221 175 195
 170 149 214 157 146 194 270 228 174 139 259  88 122 202  59 201  62 169
 136  71 131 268  82 191  75 193  76 208 222  61 100 183 224 238 217 127
 107 148  57 269  89 138 147 236 126 118 205 143 180 251 179 162  73 172
 117 163 265  63 245 243 155 203  87  74 226 207 132 192 250  72  56 102
 135 184 213 188 178 120 111 249  93 244 209 185 121 258 104 266 137  68
 116]
Length of unique values in column  dist_from_hub  : 217

workers_num
[ 29.  31.  37.  21.  25.  35.  27.  23.  22.  43.  16.  28.  36.  19.
  24.  41.  20.  17.  46.  30.  33.  32.  nan  26.  38.  39.  40.  34.
  44.  18.  11.  12.  42.  45.  47.  15.  48.  50.  62.  49.  56.  53.
  98.  14.  55.  54.  61.  10.  51.  57.  78.  52.  13.  92.  65.  60.
  64.  72.  58.  67.  63.   4.   0. 101.   1.   3.   2.  80.  95.  68.
  59.  91.  76.  96.   9.  66. 100.  77.  69.  71.  74.  75.  82.  93.
   5. 104.   7.   8.  83.   6.  70.  73. 105.  99.  97.  84.  86. 102.
  88.  81.  90. 109.  85. 108. 106.  89. 113. 103. 111.  94.  79. 114.
 107.  87. 116. 110. 115. 118. 120. 112. 122. 124. 119.]
Length of unique values in column  workers_num  : 123

wh_est_year
[  nan 2009. 2010. 2013. 1999. 2017. 2022. 2008. 2001. 2016. 1997. 2003.
 2006. 2019. 2015. 2012. 1998. 2021. 2004. 2000. 2005. 2011. 2014. 1996.
 2020. 2023. 2002. 2007. 2018.]
Length of unique values in column  wh_est_year  : 29

storage_issue_reported
[13  4 17 18 23 24  6 11 22  9 29 19 14 28 25 12  8  0 34 16 38 21 15 36
 31 20 10 32 27 26  7 37 30  5 39 33 35  3  1  2 40 43 41 42 44 46 45 47
 48 50 49 51 52 54 55 53 56 57 59 58 61 60 63 62 64 67 65 71 66 69 68 75
 70]
Length of unique values in column  storage_issue_reported  : 73

temp_reg_mach
[ 0.  1. nan]
Length of unique values in column  temp_reg_mach  : 3

approved_wh_govt_certificate
['A' 'A+' 'C' 'B' 'B+' nan '0']
Length of unique values in column  approved_wh_govt_certificate  : 7

wh_breakdown
[ 5.  3.  6.  4.  2.  1.  0.  8.  7.  9. 10. 12. 13. 11. 14. 16. 15. 17.
 18. 19. 20. 22. 21. 23. 26. 24. 25. 27. 30. 28. 29. 31. 34. 33. 32. 35.
 37. 38. 36. 39. 41. 40. 42. nan 44. 45. 43. 46.]
Length of unique values in column  wh_breakdown  : 48

govt_check
[15. 17. 22. 27. 24.  3.  6.  2. 28.  1. 11.  9. 12. 21. 19.  8. 14. 23.
 26. 29. 10. 13. 30. 32.  7. 25. 31. 20.  5. 16. 18.  4. 34. 33. 35.  0.
 36. 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 50. 49. 48. 51. 53. 52.
 54. 55. 56. 57. 59. 58. 63. 61. 60. 64. 62. 65. 66. nan 68. 67. 72.]
Length of unique values in column  govt_check  : 71

product_wg_ton
[17115.  5074. 23137. ... 65862. 60672. 74959.]
Length of unique values in column  product_wg_ton  : 65180

In [19]:
df.describe().round(2)

,Refill_Requests,transport_issue,No_of_Competitor,No_of_retailers,Number_of_distributors,flood_impacted,flood_proof,electric_supply,dist_from_hub,workers_num,wh_est_year,storage_issue_reported,temp_reg_mach,wh_breakdown,govt_check,product_wg_ton
count,350001.00,350001.00,350001.00,350001.00,350001.00,350001.0,350001.00,350001.00,350001.00,349011.00,183666.00,350001.00,350000.00,350000.00,350000.00,350000.00
mean,4.72,2.43,3.73,4985.88,61.92,0.1,0.05,0.66,163.54,37.67,2009.38,24.33,0.30,13.27,28.57,35141.77
std,3.65,2.58,3.00,1285.71,21.65,0.3,0.23,0.47,62.72,11.99,7.53,11.30,0.46,7.64,11.45,14871.88
min,0.00,0.00,0.00,0.00,8.00,0.0,0.00,0.00,55.00,0.00,1996.00,0.00,0.00,0.00,0.00,0.00
25%,2.00,0.00,2.00,4141.00,46.00,0.0,0.00,0.00,109.00,30.00,2003.00,16.00,0.00,7.00,20.00,24378.75
50%,4.00,2.00,3.00,4893.00,62.00,0.0,0.00,1.00,164.00,37.00,2009.00,24.00,0.00,12.00,29.00,34435.00
75%,7.00,4.00,5.00,5724.00,77.00,0.0,0.00,1.00,218.00,45.00,2016.00,32.00,1.00,19.00,37.00,45229.00
max,26.00,22.00,22.00,12861.00,146.00,1.0,1.00,1.00,271.00,124.00,2023.00,75.00,1.00,46.00,72.00,93093.00

In [21]:
#Data Cleaning

In [22]:
# display number of unique values in each column

df.nunique().sort_values(ascending=False)

product_wg_ton                  65179
WH_Manager_ID                   25000
Ware_house_ID                   25000
No_of_retailers                  9068
dist_from_hub                     217
Number_of_distributors            138
workers_num                       122
storage_issue_reported             73
govt_check                         70
wh_breakdown                       47
wh_est_year                        28
Refill_Requests                    27
transport_issue                    23
No_of_Competitor                   23
Date                               14
approved_wh_govt_certificate        6
WH_regional_zone                    6
zone                                4
WH_capacity_size                    3
Location_type                       2
flood_proof                         2
flood_impacted                      2
temp_reg_mach                       2
Warehouse_Ownership                 2
electric_supply                     2
dtype: int64

In [23]:
df.drop(columns=['Ware_house_ID', 'WH_Manager_ID','Date'], inplace = True)

In [25]:
df.head()

,Location_type,WH_capacity_size,zone,WH_regional_zone,Refill_Requests,transport_issue,No_of_Competitor,No_of_retailers,Warehouse_Ownership,Number_of_distributors,...,electric_supply,dist_from_hub,workers_num,wh_est_year,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton
0,Urban,Small,West,Zone 6,3,1,2,4651,Rented,24,...,1,91,29.0,NaN,13,0.0,A,5.0,15.0,17115.0
1,Rural,Large,North,Zone 5,0,0,4,6217,Company Owned,47,...,1,210,31.0,NaN,4,0.0,A,3.0,17.0,5074.0
2,Rural,Mid,South,Zone 2,1,0,4,4306,Company Owned,64,...,0,161,37.0,NaN,17,0.0,A,6.0,22.0,23137.0
3,Rural,Mid,North,Zone 3,7,4,2,6000,Rented,50,...,0,103,21.0,NaN,17,1.0,A+,3.0,27.0,22115.0
4,Rural,Large,North,Zone 5,3,1,2,4740,Company Owned,42,...,1,112,25.0,2009.0,18,0.0,C,6.0,24.0,24071.0

In [26]:
print(len(df[df.duplicated]))

0

In [29]:
import matplotlib.cm
cmap = matplotlib.cm.get_cmap('Reds')

AttributeError: module 'matplotlib.cm' has no attribute 'get_cmap'

In [27]:
# Missing values
plt.figure(figsize=(6, 4))
sns.heatmap(df.isnull(), yticklabels=False, cmap=sns.cubehelix_palette(as_cmap=True))
plt.show()

NameError: name 'sns' is not defined