In [1]:
!pip install -U scikit-learn

WARNING: The directory '/home/mosaic-ai/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
WARNING: The directory '/home/mosaic-ai/.cache/pip' or its parent directory is not owned by the current user and caching wheels has been disabled. check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
Collecting scikit-learn
  Downloading https://files.pythonhosted.org/packages/3f/48/6fdd99f5717045f9984616b5c2ec683d6286d30c0ac234563062132b83ab/scikit_learn-1.3.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.1MB)
     |████████████████████████████████| 11.1MB 4.0MB/s eta 0:00:01
Collecting threadpoolctl>=2.0.0
  Downloading https://files.pythonhosted.org/packages/4b/2c/ffbf7a134b9ab11a67b0cf0726453cedd9c5043a4fe7a35d1cefa9a1bcfb/threadpoolctl-3.5.0-py3-none-any.whl
Collecting numpy<2.0,>=1.17.3
  Downloading https://files.pythonhosted.org/packages/98/5d/5738903efe0ecb73e51eb44feafba32bdba2081263d40c5043568ff60faf/numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3MB)
     |████████████████████████████████| 17.3MB 85.0MB/s eta 0:00:01
Collecting joblib>=1.1.1
  Downloading https://files.pythonhosted.org/packages/91/29/df4b9b42f2be0b623cbd5e2140cafcaa2bef0759a00b7b70104dcfe2fb51/joblib-1.4.2-py3-none-any.whl (301kB)
     |████████████████████████████████| 307kB 64.9MB/s eta 0:00:01
Collecting scipy>=1.5.0
  Downloading https://files.pythonhosted.org/packages/69/f0/fb07a9548e48b687b8bf2fa81d71aba9cfc548d365046ca1c791e24db99d/scipy-1.10.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.5MB)
     |████████████████████████████████| 34.5MB 78.8MB/s eta 0:00:01
ERROR: mlflow 2.10.0 has requirement pytz<2024, but you'll have pytz 2024.1 which is incompatible.
ERROR: fosforio 1.0.1 has requirement pandas==2.0.0, but you'll have pandas 2.0.3 which is incompatible.
ERROR: snowflake-ml-python 1.0.1 has requirement pandas<2,>=1.0.0, but you'll have pandas 2.0.3 which is incompatible.
ERROR: snowflake-ml-python 1.0.1 has requirement snowflake-snowpark-python<2,>=1.4.0, but you'll have snowflake-snowpark-python 1.0.0 which is incompatible.
ERROR: snowflake-ml-python 1.0.1 has requirement xgboost<2,>=1.7.3, but you'll have xgboost 2.0.3 which is incompatible.
ERROR: mosaic-ai-serving 1.0.0 has requirement Flask==2.1.1; python_version >= "3.7", but you'll have flask 3.0.3 which is incompatible.
ERROR: mosaic-ai-serving 1.0.0 has requirement itsdangerous==2.0.1, but you'll have itsdangerous 2.2.0 which is incompatible.
ERROR: mosaic-ai-serving 1.0.0 has requirement Jinja2==3.0.3, but you'll have jinja2 3.1.4 which is incompatible.
ERROR: mosaic-ai-serving 1.0.0 has requirement matplotlib==3.6.0; python_version >= "3.8", but you'll have matplotlib 3.7.5 which is incompatible.
ERROR: mosaic-ai-client 1.0.0 has requirement matplotlib==3.1.1, but you'll have matplotlib 3.7.5 which is incompatible.
Installing collected packages: threadpoolctl, numpy, joblib, scipy, scikit-learn
Successfully installed joblib-1.4.2 numpy-1.24.4 scikit-learn-1.3.2 scipy-1.10.1 threadpoolctl-3.5.0
WARNING: You are using pip version 19.3.1; however, version 24.1.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
import time
from snowflake.snowpark.session import Session
import configparser
 
import warnings
warnings.filterwarnings("ignore")
 
config = configparser.ConfigParser()
config.read("snowflake_connection.ini")
 
connection_parameters = {
    "user": f'{config["Snowflake"]["user"]}',
    "password": f'{config["Snowflake"]["password"]}',
    "account": f'{config["Snowflake"]["account"]}',
    "WAREHOUSE": f'{config["Snowflake"]["WAREHOUSE"]}',
    "DATABASE": f'{config["Snowflake"]["DATABASE"]}',
    "SCHEMA": f'{config["Snowflake"]["SCHEMA"]}'
}
 
def snowflake_connector(conn):
    try:
        session = Session.builder.configs(conn).create()
        print("connection successful!")
    except:
        raise ValueError("error while connecting with db")
    return session
 
session = snowflake_connector(connection_parameters)

connection successful!

In [3]:
df_or = session.table("CPG_DATA_ORIGINAL").to_pandas()
df_test_or = session.table("CPG_DATA_ORIGINAL").to_pandas()

In [4]:
df_or.head()

,Date,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,Refill_Requests,transport_issue,No_of_Competitor,...,electric_supply,dist_from_hub,workers_num,wh_est_year,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton
0,2023-01-01,WH_100000,EID_50000,Urban,Small,West,Zone 6,3,1,2,...,1,91.0,29.0,NaN,13,0.0,A,5.0,15.0,17115.0
1,2023-01-01,WH_100001,EID_50001,Rural,Large,North,Zone 5,0,0,4,...,1,210.0,31.0,NaN,4,0.0,A,3.0,17.0,5074.0
2,2023-01-01,WH_100002,EID_50002,Rural,Mid,South,Zone 2,1,0,4,...,0,161.0,37.0,NaN,17,0.0,A,6.0,22.0,23137.0
3,2023-01-01,WH_100003,EID_50003,Rural,Mid,North,Zone 3,7,4,2,...,0,103.0,21.0,NaN,17,1.0,A+,3.0,27.0,22115.0
4,2023-01-01,WH_100004,EID_50004,Rural,Large,North,Zone 5,3,1,2,...,1,112.0,25.0,2009.0,18,0.0,C,6.0,24.0,24071.0

In [5]:
df_or= df_or.reset_index()
df_or

,index,Date,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,Refill_Requests,transport_issue,...,electric_supply,dist_from_hub,workers_num,wh_est_year,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton
0,0,2023-01-01,WH_100000,EID_50000,Urban,Small,West,Zone 6,3,1,...,1,91.0,29.0,NaN,13,0.0,A,5.0,15.0,17115.0
1,1,2023-01-01,WH_100001,EID_50001,Rural,Large,North,Zone 5,0,0,...,1,210.0,31.0,NaN,4,0.0,A,3.0,17.0,5074.0
2,2,2023-01-01,WH_100002,EID_50002,Rural,Mid,South,Zone 2,1,0,...,0,161.0,37.0,NaN,17,0.0,A,6.0,22.0,23137.0
3,3,2023-01-01,WH_100003,EID_50003,Rural,Mid,North,Zone 3,7,4,...,0,103.0,21.0,NaN,17,1.0,A+,3.0,27.0,22115.0
4,4,2023-01-01,WH_100004,EID_50004,Rural,Large,North,Zone 5,3,1,...,1,112.0,25.0,2009.0,18,0.0,C,6.0,24.0,24071.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349996,349996,2024-02-01,WH_124996,EID_74996,Rural,Mid,West,Zone 2,4,7,...,1,130.0,39.0,2005.0,23,0.0,B,21.0,36.0,37853.0
349997,349997,2024-02-01,WH_124997,EID_74997,Urban,Large,South,Zone 5,12,4,...,1,147.0,27.0,2012.0,12,1.0,A,30.0,55.0,65888.0
349998,349998,2024-02-01,WH_124998,EID_74998,Rural,Small,North,Zone 1,1,4,...,1,60.0,44.0,NaN,24,0.0,B,17.0,38.0,38534.0
349999,349999,2024-02-01,WH_124999,EID_74999,Rural,Mid,West,Zone 4,3,3,...,1,239.0,57.0,NaN,22,0.0,B+,16.0,41.0,58351.0
350000,350000,2024-02-01,WH_100000,EID_50000,Urban,Small,West,Zone 6,4,2,...,1,91.0,56.0,2019.0,5,0.0,A,33.0,39.0,50619.0

In [6]:
df_test_or= df_test_or.reset_index()
df_test_or.head()

,index,Date,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,Refill_Requests,transport_issue,...,electric_supply,dist_from_hub,workers_num,wh_est_year,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton
0,0,2023-01-01,WH_100000,EID_50000,Urban,Small,West,Zone 6,3,1,...,1,91.0,29.0,NaN,13,0.0,A,5.0,15.0,17115.0
1,1,2023-01-01,WH_100001,EID_50001,Rural,Large,North,Zone 5,0,0,...,1,210.0,31.0,NaN,4,0.0,A,3.0,17.0,5074.0
2,2,2023-01-01,WH_100002,EID_50002,Rural,Mid,South,Zone 2,1,0,...,0,161.0,37.0,NaN,17,0.0,A,6.0,22.0,23137.0
3,3,2023-01-01,WH_100003,EID_50003,Rural,Mid,North,Zone 3,7,4,...,0,103.0,21.0,NaN,17,1.0,A+,3.0,27.0,22115.0
4,4,2023-01-01,WH_100004,EID_50004,Rural,Large,North,Zone 5,3,1,...,1,112.0,25.0,2009.0,18,0.0,C,6.0,24.0,24071.0

In [7]:
df_or
df_test_or

,index,Date,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,Refill_Requests,transport_issue,...,electric_supply,dist_from_hub,workers_num,wh_est_year,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton
0,0,2023-01-01,WH_100000,EID_50000,Urban,Small,West,Zone 6,3,1,...,1,91.0,29.0,NaN,13,0.0,A,5.0,15.0,17115.0
1,1,2023-01-01,WH_100001,EID_50001,Rural,Large,North,Zone 5,0,0,...,1,210.0,31.0,NaN,4,0.0,A,3.0,17.0,5074.0
2,2,2023-01-01,WH_100002,EID_50002,Rural,Mid,South,Zone 2,1,0,...,0,161.0,37.0,NaN,17,0.0,A,6.0,22.0,23137.0
3,3,2023-01-01,WH_100003,EID_50003,Rural,Mid,North,Zone 3,7,4,...,0,103.0,21.0,NaN,17,1.0,A+,3.0,27.0,22115.0
4,4,2023-01-01,WH_100004,EID_50004,Rural,Large,North,Zone 5,3,1,...,1,112.0,25.0,2009.0,18,0.0,C,6.0,24.0,24071.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349996,349996,2024-02-01,WH_124996,EID_74996,Rural,Mid,West,Zone 2,4,7,...,1,130.0,39.0,2005.0,23,0.0,B,21.0,36.0,37853.0
349997,349997,2024-02-01,WH_124997,EID_74997,Urban,Large,South,Zone 5,12,4,...,1,147.0,27.0,2012.0,12,1.0,A,30.0,55.0,65888.0
349998,349998,2024-02-01,WH_124998,EID_74998,Rural,Small,North,Zone 1,1,4,...,1,60.0,44.0,NaN,24,0.0,B,17.0,38.0,38534.0
349999,349999,2024-02-01,WH_124999,EID_74999,Rural,Mid,West,Zone 4,3,3,...,1,239.0,57.0,NaN,22,0.0,B+,16.0,41.0,58351.0
350000,350000,2024-02-01,WH_100000,EID_50000,Urban,Small,West,Zone 6,4,2,...,1,91.0,56.0,2019.0,5,0.0,A,33.0,39.0,50619.0

In [8]:
import pandas as pd
import numpy as np
import sklearn 

#import matplotlib.pyplot as plt
#%matplotlib inline
#import seaborn as sns


from sklearn.preprocessing import LabelEncoder, StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import warnings
warnings.simplefilter(action='ignore')

In [9]:
# train dataset
#df = pd.read_csv("1.FMCG_data_original.csv")

# test dataset
#df_test = pd.read_csv("1.FMCG_data_original.csv")

In [10]:
df_or.nunique().sort_values(ascending=False)

index                           350001
product_wg_ton                   65179
Ware_house_ID                    25000
WH_Manager_ID                    25000
No_of_retailers                   9068
dist_from_hub                      217
Number_of_distributors             138
workers_num                        122
storage_issue_reported              73
govt_check                          70
wh_breakdown                        47
wh_est_year                         28
Refill_Requests                     27
transport_issue                     23
No_of_Competitor                    23
Date                                14
approved_wh_govt_certificate         7
WH_regional_zone                     6
zone                                 4
WH_capacity_size                     3
temp_reg_mach                        2
electric_supply                      2
Location_type                        2
flood_proof                          2
Warehouse_Ownership                  2
flood_impacted                       2
dtype: int64

In [11]:

df_or.drop(columns=['Ware_house_ID','WH_Manager_ID','Date'], inplace = True)
df_or['workers_num'].median()
df_or['approved_wh_govt_certificate'].mode()
df_or['approved_wh_govt_certificate'].fillna(df_or['approved_wh_govt_certificate'].mode()[0], inplace=True)
df_or.isnull().sum()
df_or.nunique().sort_values(ascending= True)

flood_impacted                       2
Location_type                        2
temp_reg_mach                        2
Warehouse_Ownership                  2
flood_proof                          2
electric_supply                      2
WH_capacity_size                     3
zone                                 4
WH_regional_zone                     6
approved_wh_govt_certificate         7
transport_issue                     23
No_of_Competitor                    23
Refill_Requests                     27
wh_est_year                         28
wh_breakdown                        47
govt_check                          70
storage_issue_reported              73
workers_num                        122
Number_of_distributors             138
dist_from_hub                      217
No_of_retailers                   9068
product_wg_ton                   65179
index                           350001
dtype: int64

In [12]:
for i in df_or.columns[df_or.nunique()<=4]:
    print("Number of unique values in column ", i, ' :', len(df_or[i].unique()))
    print(df_or[i].value_counts())
    print(' ')

Number of unique values in column  Location_type  : 2
Location_type
Rural    321398
Urban     28603
Name: count, dtype: int64

Number of unique values in column  WH_capacity_size  : 3
WH_capacity_size
Large    142366
Mid      140280
Small     67355
Name: count, dtype: int64

Number of unique values in column  zone  : 4
zone
North    143892
West     111035
South     89068
East       6006
Name: count, dtype: int64

Number of unique values in column  Warehouse_Ownership  : 2
Warehouse_Ownership
Company Owned    190092
Rented           159909
Name: count, dtype: int64

Number of unique values in column  flood_impacted  : 2
flood_impacted
0    315645
1     34356
Name: count, dtype: int64

Number of unique values in column  flood_proof  : 2
flood_proof
0    330876
1     19125
Name: count, dtype: int64

Number of unique values in column  electric_supply  : 2
electric_supply
1    229909
0    120092
Name: count, dtype: int64

Number of unique values in column  temp_reg_mach  : 3
temp_reg_mach
0.0    243852
1.0    106148
Name: count, dtype: int64

In [13]:
def count_outliers(df_or):
    outliers={}
    for i in df_or.columns:
        if pd.api.types.is_numeric_dtype(df_or[i]):
            q1 = df_or[i].quantile(0.25)
            q3 = df_or[i].quantile(0.75)
            iqr = q3 - q1
            lower = q1 - 1.5*iqr
            upper = q3 + 1.5*iqr
            outliers[i] = df_or[(df_or[i] < lower) | (df_or[i] > upper)].shape[0]
        else:
            pass
    return outliers

In [14]:
outlier_counts = count_outliers(df_or)
outlier_counts

{'index': 0,
 'Refill_Requests': 4159,
 'transport_issue': 3852,
 'No_of_Competitor': 16980,
 'No_of_retailers': 7980,
 'Number_of_distributors': 494,
 'flood_impacted': 34356,
 'flood_proof': 19125,
 'electric_supply': 0,
 'dist_from_hub': 0,
 'workers_num': 8332,
 'wh_est_year': 0,
 'storage_issue_reported': 932,
 'temp_reg_mach': 0,
 'wh_breakdown': 436,
 'govt_check': 114,
 'product_wg_ton': 1327}

In [15]:
df_or['product_wg_ton'].corr(df_or['flood_proof'])
df_or['product_wg_ton'].corr(df_or['flood_impacted'])
df_or.drop(columns=['flood_proof', 'flood_impacted'], inplace = True)

In [16]:


def remove_outliers(df_or):
    num_df = df_or.select_dtypes(include=['int', 'float'])
    q1 = num_df.quantile(0.25)
    q3 = num_df.quantile(0.75)
    iqr = q3 - q1
    lower = q1 - 1.5*iqr
    upper = q3 + 1.5*iqr
    df_no_outliers = num_df[((num_df >= lower) & (num_df <= upper)).all(axis=1)]
    return df_or.loc[df_no_outliers.index]

In [17]:
df_or = remove_outliers(df_or)
df_or.shape

(173446, 21)

In [18]:
df_test_or

,index,Date,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,Refill_Requests,transport_issue,...,electric_supply,dist_from_hub,workers_num,wh_est_year,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton
0,0,2023-01-01,WH_100000,EID_50000,Urban,Small,West,Zone 6,3,1,...,1,91.0,29.0,NaN,13,0.0,A,5.0,15.0,17115.0
1,1,2023-01-01,WH_100001,EID_50001,Rural,Large,North,Zone 5,0,0,...,1,210.0,31.0,NaN,4,0.0,A,3.0,17.0,5074.0
2,2,2023-01-01,WH_100002,EID_50002,Rural,Mid,South,Zone 2,1,0,...,0,161.0,37.0,NaN,17,0.0,A,6.0,22.0,23137.0
3,3,2023-01-01,WH_100003,EID_50003,Rural,Mid,North,Zone 3,7,4,...,0,103.0,21.0,NaN,17,1.0,A+,3.0,27.0,22115.0
4,4,2023-01-01,WH_100004,EID_50004,Rural,Large,North,Zone 5,3,1,...,1,112.0,25.0,2009.0,18,0.0,C,6.0,24.0,24071.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349996,349996,2024-02-01,WH_124996,EID_74996,Rural,Mid,West,Zone 2,4,7,...,1,130.0,39.0,2005.0,23,0.0,B,21.0,36.0,37853.0
349997,349997,2024-02-01,WH_124997,EID_74997,Urban,Large,South,Zone 5,12,4,...,1,147.0,27.0,2012.0,12,1.0,A,30.0,55.0,65888.0
349998,349998,2024-02-01,WH_124998,EID_74998,Rural,Small,North,Zone 1,1,4,...,1,60.0,44.0,NaN,24,0.0,B,17.0,38.0,38534.0
349999,349999,2024-02-01,WH_124999,EID_74999,Rural,Mid,West,Zone 4,3,3,...,1,239.0,57.0,NaN,22,0.0,B+,16.0,41.0,58351.0
350000,350000,2024-02-01,WH_100000,EID_50000,Urban,Small,West,Zone 6,4,2,...,1,91.0,56.0,2019.0,5,0.0,A,33.0,39.0,50619.0

In [19]:


df_test_or.nunique().sort_values(ascending=False)

index                           350001
product_wg_ton                   65179
Ware_house_ID                    25000
WH_Manager_ID                    25000
No_of_retailers                   9068
dist_from_hub                      217
Number_of_distributors             138
workers_num                        122
storage_issue_reported              73
govt_check                          70
wh_breakdown                        47
wh_est_year                         28
Refill_Requests                     27
transport_issue                     23
No_of_Competitor                    23
Date                                14
approved_wh_govt_certificate         7
WH_regional_zone                     6
zone                                 4
WH_capacity_size                     3
temp_reg_mach                        2
electric_supply                      2
Location_type                        2
flood_proof                          2
Warehouse_Ownership                  2
flood_impacted                       2
dtype: int64

In [20]:
df_test_or.drop(columns=['Ware_house_ID', 'WH_Manager_ID'], inplace = True)
print(len(df_test_or[df_test_or.duplicated]))

0

In [21]:
# print percentage of null values in each column

null_values_features = [i for i in df_test_or.columns if df_test_or[i].isnull().sum()>1]
for i in null_values_features:
    print(i, np.round(df_test_or[i].isnull().mean()*100, 2), "% missing values")

workers_num 0.28 % missing values
wh_est_year 47.52 % missing values

In [22]:
df_test_or.drop(columns=['wh_est_year'], inplace = True)
df_test_or['workers_num'].median()
df_test_or['workers_num'].fillna(df_test_or['workers_num'].median(), inplace=True)
df_test_or['approved_wh_govt_certificate'].mode()
df_test_or['approved_wh_govt_certificate'].fillna(df_test_or['approved_wh_govt_certificate'].mode()[0], inplace=True)
df_test_or.isnull().sum()
df_test_or.nunique().sort_values(ascending= True)

Warehouse_Ownership                  2
Location_type                        2
temp_reg_mach                        2
electric_supply                      2
flood_impacted                       2
flood_proof                          2
WH_capacity_size                     3
zone                                 4
WH_regional_zone                     6
approved_wh_govt_certificate         7
Date                                14
transport_issue                     23
No_of_Competitor                    23
Refill_Requests                     27
wh_breakdown                        47
govt_check                          70
storage_issue_reported              73
workers_num                        122
Number_of_distributors             138
dist_from_hub                      217
No_of_retailers                   9068
product_wg_ton                   65179
index                           350001
dtype: int64

In [23]:
for i in df_test_or.columns[df_test_or.nunique()<=4]:
    print("Number of unique values in column ", i, ' :', len(df_test_or[i].unique()))
    print(df_test_or[i].value_counts())
    print(' ')

Number of unique values in column  Location_type  : 2
Location_type
Rural    321398
Urban     28603
Name: count, dtype: int64

Number of unique values in column  WH_capacity_size  : 3
WH_capacity_size
Large    142366
Mid      140280
Small     67355
Name: count, dtype: int64

Number of unique values in column  zone  : 4
zone
North    143892
West     111035
South     89068
East       6006
Name: count, dtype: int64

Number of unique values in column  Warehouse_Ownership  : 2
Warehouse_Ownership
Company Owned    190092
Rented           159909
Name: count, dtype: int64

Number of unique values in column  flood_impacted  : 2
flood_impacted
0    315645
1     34356
Name: count, dtype: int64

Number of unique values in column  flood_proof  : 2
flood_proof
0    330876
1     19125
Name: count, dtype: int64

Number of unique values in column  electric_supply  : 2
electric_supply
1    229909
0    120092
Name: count, dtype: int64

Number of unique values in column  temp_reg_mach  : 3
temp_reg_mach
0.0    243852
1.0    106148
Name: count, dtype: int64

In [24]:
df_test_or['product_wg_ton'].corr(df_test_or['storage_issue_reported'])

0.6887753290004746

In [25]:

df_test_or.drop(columns=['flood_proof', 'flood_impacted'], inplace = True)

In [26]:


def remove_outliers(df_test_or):
    num_df = df_test_or.select_dtypes(include=['int', 'float'])
    q1 = num_df.quantile(0.25)
    q3 = num_df.quantile(0.75)
    iqr = q3 - q1
    lower = q1 - 1.5*iqr
    upper = q3 + 1.5*iqr
    df_no_outliers = num_df[((num_df >= lower) & (num_df <= upper)).all(axis=1)]
    return df_test_or.loc[df_no_outliers.index]

In [27]:
df_test_or = remove_outliers(df_test_or)
df_test_or

,index,Date,Location_type,WH_capacity_size,zone,WH_regional_zone,Refill_Requests,transport_issue,No_of_Competitor,No_of_retailers,...,Number_of_distributors,electric_supply,dist_from_hub,workers_num,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton
0,0,2023-01-01,Urban,Small,West,Zone 6,3,1,2,4651.0,...,24.0,1,91.0,29.0,13,0.0,A,5.0,15.0,17115.0
1,1,2023-01-01,Rural,Large,North,Zone 5,0,0,4,6217.0,...,47.0,1,210.0,31.0,4,0.0,A,3.0,17.0,5074.0
2,2,2023-01-01,Rural,Mid,South,Zone 2,1,0,4,4306.0,...,64.0,0,161.0,37.0,17,0.0,A,6.0,22.0,23137.0
3,3,2023-01-01,Rural,Mid,North,Zone 3,7,4,2,6000.0,...,50.0,0,103.0,21.0,17,1.0,A+,3.0,27.0,22115.0
4,4,2023-01-01,Rural,Large,North,Zone 5,3,1,2,4740.0,...,42.0,1,112.0,25.0,18,0.0,C,6.0,24.0,24071.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349995,349995,2024-02-01,Rural,Small,North,Zone 1,11,0,7,6256.0,...,68.0,1,142.0,62.0,8,0.0,B+,28.0,38.0,52057.0
349996,349996,2024-02-01,Rural,Mid,West,Zone 2,4,7,1,5332.0,...,85.0,1,130.0,39.0,23,0.0,B,21.0,36.0,37853.0
349997,349997,2024-02-01,Urban,Large,South,Zone 5,12,4,0,4044.0,...,65.0,1,147.0,27.0,12,1.0,A,30.0,55.0,65888.0
349999,349999,2024-02-01,Rural,Mid,West,Zone 4,3,3,4,4988.0,...,56.0,1,239.0,57.0,22,0.0,B+,16.0,41.0,58351.0
350000,350000,2024-02-01,Urban,Small,West,Zone 6,4,2,3,4021.0,...,79.0,1,91.0,56.0,5,0.0,A,33.0,39.0,50619.0

In [28]:
# Numerical columns & categorical columns in train dataset

num_columns_train=[i for i in df_or.columns if df_or[i].dtypes != 'O']
cat_columns_train=[i for i in df_or.columns if df_or[i].dtypes == 'O']

# Numerical columns & categorical columns in test dataset

num_columns_test=[i for i in df_test_or.columns if df_test_or[i].dtypes != 'O']
cat_columns_test=[i for i in df_test_or.columns if df_test_or[i].dtypes == 'O']

In [29]:
for i in cat_columns_train:
    df_or[i] = LabelEncoder().fit_transform(df_or[i])

for i in cat_columns_test:
    df_test_or[i] = LabelEncoder().fit_transform(df_test_or[i])

In [30]:
# display number of unique values in each column
df_or.nunique().sort_values(ascending=False)

index                           173446
product_wg_ton                   55501
No_of_retailers                   6279
dist_from_hub                      217
Number_of_distributors             115
storage_issue_reported              72
govt_check                          63
workers_num                         60
wh_breakdown                        38
wh_est_year                         28
Refill_Requests                     27
transport_issue                     23
No_of_Competitor                    23
approved_wh_govt_certificate         7
WH_regional_zone                     6
zone                                 4
WH_capacity_size                     3
temp_reg_mach                        2
Location_type                        2
Warehouse_Ownership                  2
electric_supply                      2
dtype: int64

In [31]:
columns_with_more_than_two_unique_values_train = df_or.columns[ df_or.nunique()>2]

In [32]:
columns_with_more_than_two_unique_values_test = df_test_or.columns[df_test_or.nunique()>2]

In [ ]:
#df['Location_type'] = df['Location_type'].replace([0,1])
#df

In [33]:
X_train = df_or.drop(['product_wg_ton','wh_est_year', 'WH_regional_zone'], axis=1)
Y_train = df_or['product_wg_ton']

In [34]:
X_train.columns

Index(['index', 'Location_type', 'WH_capacity_size', 'zone', 'Refill_Requests',
       'transport_issue', 'No_of_Competitor', 'No_of_retailers',
       'Warehouse_Ownership', 'Number_of_distributors', 'electric_supply',
       'dist_from_hub', 'workers_num', 'storage_issue_reported',
       'temp_reg_mach', 'approved_wh_govt_certificate', 'wh_breakdown',
       'govt_check'],
      dtype='object')

In [35]:
X_test = df_test_or.drop(['product_wg_ton','WH_regional_zone','Date'], axis=1)
X_test.head()

,index,Location_type,WH_capacity_size,zone,Refill_Requests,transport_issue,No_of_Competitor,No_of_retailers,Warehouse_Ownership,Number_of_distributors,electric_supply,dist_from_hub,workers_num,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check
0,0,1,2,3,3,1,2,4651.0,1,24.0,1,91.0,29.0,13,0.0,1,5.0,15.0
1,1,0,0,1,0,0,4,6217.0,0,47.0,1,210.0,31.0,4,0.0,1,3.0,17.0
2,2,0,1,2,1,0,4,4306.0,0,64.0,0,161.0,37.0,17,0.0,1,6.0,22.0
3,3,0,1,1,7,4,2,6000.0,1,50.0,0,103.0,21.0,17,1.0,2,3.0,27.0
4,4,0,0,1,3,1,2,4740.0,0,42.0,1,112.0,25.0,18,0.0,5,6.0,24.0

In [36]:
X_test.columns

Index(['index', 'Location_type', 'WH_capacity_size', 'zone', 'Refill_Requests',
       'transport_issue', 'No_of_Competitor', 'No_of_retailers',
       'Warehouse_Ownership', 'Number_of_distributors', 'electric_supply',
       'dist_from_hub', 'workers_num', 'storage_issue_reported',
       'temp_reg_mach', 'approved_wh_govt_certificate', 'wh_breakdown',
       'govt_check'],
      dtype='object')

In [37]:
X_test1 = X_test.iloc[:100, :]
X_test1.columns

Index(['index', 'Location_type', 'WH_capacity_size', 'zone', 'Refill_Requests',
       'transport_issue', 'No_of_Competitor', 'No_of_retailers',
       'Warehouse_Ownership', 'Number_of_distributors', 'electric_supply',
       'dist_from_hub', 'workers_num', 'storage_issue_reported',
       'temp_reg_mach', 'approved_wh_govt_certificate', 'wh_breakdown',
       'govt_check'],
      dtype='object')

In [38]:
#Linear Regression
LRmodel = LinearRegression()

In [39]:
LRmodel.fit(X_train, Y_train)

LinearRegression()

In [40]:
LRmodel.fit(X_train, Y_train)

LR_y_predicted = LRmodel.predict(X_test1)
LR_y_predicted

array([18099.43712933,  9954.63932633, 20562.30382956, 20825.18823238,
       18761.34767805, 26034.3721517 , 24657.88088695, 18872.88121997,
       18260.84783389,  9137.92219383, 18479.07822944, 14300.42411315,
        8930.17880376, 25827.68484122, 10380.98094956,  8036.74496824,
       12184.94988675, 16995.53698914, 30817.07138674, 22841.59368135,
       20237.81276477, 17850.3249789 , 28415.88578402, 24314.20112601,
       14550.67847267, 23040.8498504 , 10657.39961609, 12987.42702476,
        3439.96365732, 12877.88529302, 14694.90966507, 21004.69567677,
       33868.5059973 , 18895.65964321, 16879.47543879,  3350.86019405,
       32677.69105424, 19196.30082575,  3451.70609555, 35663.88666541,
       24225.35707285, 24310.12316824, 20131.40768617, 24261.90866812,
       23067.53102592, 25130.06183578, 18522.42489295, 35609.96718371,
       12473.71857619, 33218.36807101, 12630.00281329, 22501.69562847,
       17861.36291809, 21184.23187235, 21857.61067587, 16211.01735054,
       13662.26709297, 18600.12872405, 25608.83728763, 24635.28410504,
       24355.70464352, 32304.1395237 , 15820.92675425, 23679.97542502,
       22796.88579349, 24733.01867767, 29827.08026298, 22522.112045  ,
       26721.70247984, 13512.38326676, 19145.93197553, 19910.37649202,
       17364.79311028, 22445.79614901, 16725.41514803, 21254.63030425,
       27003.47577394, 10543.00107418, 12474.28996314, 19817.59635579,
       16158.13437028, 20926.24340743, 28368.70053248, 14940.3413908 ,
       21489.58572763, 30195.91093477, 18179.85413899,  7243.60238464,
       10646.73091172, 15570.55154031, 24493.34090046, 25566.01034157,
       17528.45105378, 15671.12853857, 23075.53601065, 31278.2107484 ,
       17406.53233965,  9909.60833845,  3496.45506264, 26233.2961145 ])

In [41]:
predictions_location_nochange = pd.DataFrame(LR_y_predicted, columns =['product_wg_ton_pred_location_nochange']) 
predictions_location_nochange
predictions_location_nochange = predictions_location_nochange.reset_index()
predictions_location_nochange

    index  product_wg_ton_pred_location_nochange
0       0                           18099.437129
1       1                            9954.639326
2       2                           20562.303830
3       3                           20825.188232
4       4                           18761.347678
..    ...                                    ...
95     95                           31278.210748
96     96                           17406.532340
97     97                            9909.608338
98     98                            3496.455063
99     99                           26233.296114

[100 rows x 2 columns]

In [42]:
predictions_location_nochange.shape

(100, 2)

In [43]:
df_test_or= df_test_or.reset_index()
df_test_or.head()

,level_0,index,Date,Location_type,WH_capacity_size,zone,WH_regional_zone,Refill_Requests,transport_issue,No_of_Competitor,...,Number_of_distributors,electric_supply,dist_from_hub,workers_num,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton
0,0,0,0,1,2,3,5,3,1,2,...,24.0,1,91.0,29.0,13,0.0,1,5.0,15.0,17115.0
1,1,1,0,0,0,1,4,0,0,4,...,47.0,1,210.0,31.0,4,0.0,1,3.0,17.0,5074.0
2,2,2,0,0,1,2,1,1,0,4,...,64.0,0,161.0,37.0,17,0.0,1,6.0,22.0,23137.0
3,3,3,0,0,1,1,2,7,4,2,...,50.0,0,103.0,21.0,17,1.0,2,3.0,27.0,22115.0
4,4,4,0,0,0,1,4,3,1,2,...,42.0,1,112.0,25.0,18,0.0,5,6.0,24.0,24071.0

In [44]:
df_test_or = df_test_or.iloc[:100, :]
df_test_or

,level_0,index,Date,Location_type,WH_capacity_size,zone,WH_regional_zone,Refill_Requests,transport_issue,No_of_Competitor,...,Number_of_distributors,electric_supply,dist_from_hub,workers_num,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton
0,0,0,0,1,2,3,5,3,1,2,...,24.0,1,91.0,29.0,13,0.0,1,5.0,15.0,17115.0
1,1,1,0,0,0,1,4,0,0,4,...,47.0,1,210.0,31.0,4,0.0,1,3.0,17.0,5074.0
2,2,2,0,0,1,2,1,1,0,4,...,64.0,0,161.0,37.0,17,0.0,1,6.0,22.0,23137.0
3,3,3,0,0,1,1,2,7,4,2,...,50.0,0,103.0,21.0,17,1.0,2,3.0,27.0,22115.0
4,4,4,0,0,0,1,4,3,1,2,...,42.0,1,112.0,25.0,18,0.0,5,6.0,24.0,24071.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,96,0,0,1,3,3,7,0,4,...,35.0,0,109.0,23.0,34,0.0,5,2.0,11.0,46100.0
96,97,97,0,0,0,1,5,0,1,2,...,65.0,1,198.0,25.0,14,0.0,2,6.0,28.0,19131.0
97,98,98,0,0,1,2,3,1,0,2,...,38.0,0,182.0,23.0,6,0.0,4,5.0,20.0,7105.0
98,99,99,0,0,1,1,3,3,0,3,...,34.0,0,173.0,27.0,0,0.0,6,0.0,26.0,14130.0
99,100,100,0,0,1,1,1,7,0,4,...,39.0,1,114.0,39.0,24,1.0,3,3.0,1.0,31133.0

In [45]:
final_reco1 = pd.merge(df_test_or,predictions_location_nochange,on='index',how='inner')

In [46]:
final_reco1

,level_0,index,Date,Location_type,WH_capacity_size,zone,WH_regional_zone,Refill_Requests,transport_issue,No_of_Competitor,...,electric_supply,dist_from_hub,workers_num,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton,product_wg_ton_pred_location_nochange
0,0,0,0,1,2,3,5,3,1,2,...,1,91.0,29.0,13,0.0,1,5.0,15.0,17115.0,18099.437129
1,1,1,0,0,0,1,4,0,0,4,...,1,210.0,31.0,4,0.0,1,3.0,17.0,5074.0,9954.639326
2,2,2,0,0,1,2,1,1,0,4,...,0,161.0,37.0,17,0.0,1,6.0,22.0,23137.0,20562.303830
3,3,3,0,0,1,1,2,7,4,2,...,0,103.0,21.0,17,1.0,2,3.0,27.0,22115.0,20825.188232
4,4,4,0,0,0,1,4,3,1,2,...,1,112.0,25.0,18,0.0,5,6.0,24.0,24071.0,18761.347678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,95,0,0,1,1,2,2,0,4,...,0,234.0,17.0,22,0.0,3,3.0,19.0,27150.0,31278.210748
95,96,96,0,0,1,3,3,7,0,4,...,0,109.0,23.0,34,0.0,5,2.0,11.0,46100.0,17406.532340
96,97,97,0,0,0,1,5,0,1,2,...,1,198.0,25.0,14,0.0,2,6.0,28.0,19131.0,9909.608338
97,98,98,0,0,1,2,3,1,0,2,...,0,182.0,23.0,6,0.0,4,5.0,20.0,7105.0,3496.455063
98,99,99,0,0,1,1,3,3,0,3,...,0,173.0,27.0,0,0.0,6,0.0,26.0,14130.0,26233.296114

In [48]:
df_nochange_location=session.createDataFrame(
        final_reco1.values.tolist(),
        schema=final_reco1.columns.tolist())

In [49]:
df_nochange_location.write.mode("overwrite").save_as_table("CPGWH_DEMO.FMCG.CPG_DATA_PRED_NOCHANGE_LOCATION0")

In [ ]:
#####WITH CHANGED LOCATION

In [1]:
!pip install -U scikit-learn

WARNING: The directory '/home/mosaic-ai/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
WARNING: The directory '/home/mosaic-ai/.cache/pip' or its parent directory is not owned by the current user and caching wheels has been disabled. check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
Collecting scikit-learn
  Downloading https://files.pythonhosted.org/packages/3f/48/6fdd99f5717045f9984616b5c2ec683d6286d30c0ac234563062132b83ab/scikit_learn-1.3.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.1MB)
     |████████████████████████████████| 11.1MB 3.6MB/s eta 0:00:01    |██████████▏                     | 3.5MB 3.6MB/s eta 0:00:03
Collecting threadpoolctl>=2.0.0
  Downloading https://files.pythonhosted.org/packages/4b/2c/ffbf7a134b9ab11a67b0cf0726453cedd9c5043a4fe7a35d1cefa9a1bcfb/threadpoolctl-3.5.0-py3-none-any.whl
Collecting scipy>=1.5.0
  Downloading https://files.pythonhosted.org/packages/69/f0/fb07a9548e48b687b8bf2fa81d71aba9cfc548d365046ca1c791e24db99d/scipy-1.10.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.5MB)
     |████████████████████████████████| 34.5MB 68.3MB/s eta 0:00:01
Collecting numpy<2.0,>=1.17.3
  Downloading https://files.pythonhosted.org/packages/98/5d/5738903efe0ecb73e51eb44feafba32bdba2081263d40c5043568ff60faf/numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3MB)
     |████████████████████████████████| 17.3MB 74.2MB/s eta 0:00:01
Collecting joblib>=1.1.1
  Downloading https://files.pythonhosted.org/packages/91/29/df4b9b42f2be0b623cbd5e2140cafcaa2bef0759a00b7b70104dcfe2fb51/joblib-1.4.2-py3-none-any.whl (301kB)
     |████████████████████████████████| 307kB 77.0MB/s eta 0:00:01
ERROR: mlflow 2.10.0 has requirement pytz<2024, but you'll have pytz 2024.1 which is incompatible.
ERROR: fosforio 1.0.1 has requirement pandas==2.0.0, but you'll have pandas 2.0.3 which is incompatible.
ERROR: snowflake-ml-python 1.0.1 has requirement pandas<2,>=1.0.0, but you'll have pandas 2.0.3 which is incompatible.
ERROR: snowflake-ml-python 1.0.1 has requirement snowflake-snowpark-python<2,>=1.4.0, but you'll have snowflake-snowpark-python 1.0.0 which is incompatible.
ERROR: snowflake-ml-python 1.0.1 has requirement xgboost<2,>=1.7.3, but you'll have xgboost 2.0.3 which is incompatible.
ERROR: mosaic-ai-serving 1.0.0 has requirement Flask==2.1.1; python_version >= "3.7", but you'll have flask 3.0.3 which is incompatible.
ERROR: mosaic-ai-serving 1.0.0 has requirement itsdangerous==2.0.1, but you'll have itsdangerous 2.2.0 which is incompatible.
ERROR: mosaic-ai-serving 1.0.0 has requirement Jinja2==3.0.3, but you'll have jinja2 3.1.4 which is incompatible.
ERROR: mosaic-ai-serving 1.0.0 has requirement matplotlib==3.6.0; python_version >= "3.8", but you'll have matplotlib 3.7.5 which is incompatible.
ERROR: mosaic-ai-client 1.0.0 has requirement matplotlib==3.1.1, but you'll have matplotlib 3.7.5 which is incompatible.
Installing collected packages: threadpoolctl, numpy, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 numpy-1.24.4 scikit-learn-1.3.2 scipy-1.10.1 threadpoolctl-3.5.0
WARNING: You are using pip version 19.3.1; however, version 24.1.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
import time
from snowflake.snowpark.session import Session
import configparser
 
import warnings
warnings.filterwarnings("ignore")
 
config = configparser.ConfigParser()
config.read("snowflake_connection.ini")
 
connection_parameters = {
    "user": f'{config["Snowflake"]["user"]}',
    "password": f'{config["Snowflake"]["password"]}',
    "account": f'{config["Snowflake"]["account"]}',
    "WAREHOUSE": f'{config["Snowflake"]["WAREHOUSE"]}',
    "DATABASE": f'{config["Snowflake"]["DATABASE"]}',
    "SCHEMA": f'{config["Snowflake"]["SCHEMA"]}'
}
 
def snowflake_connector(conn):
    try:
        session = Session.builder.configs(conn).create()
        print("connection successful!")
    except:
        raise ValueError("error while connecting with db")
    return session
 
session = snowflake_connector(connection_parameters)

connection successful!

In [3]:
df_CL = session.table("CPG_DATA_ORIGINAL").to_pandas()
df_test_CL = session.table("CPG_DATA_ORIGINAL").to_pandas()

In [4]:
df_CL.head()

,Date,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,Refill_Requests,transport_issue,No_of_Competitor,...,electric_supply,dist_from_hub,workers_num,wh_est_year,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton
0,2023-01-01,WH_100000,EID_50000,Urban,Small,West,Zone 6,3,1,2,...,1,91.0,29.0,NaN,13,0.0,A,5.0,15.0,17115.0
1,2023-01-01,WH_100001,EID_50001,Rural,Large,North,Zone 5,0,0,4,...,1,210.0,31.0,NaN,4,0.0,A,3.0,17.0,5074.0
2,2023-01-01,WH_100002,EID_50002,Rural,Mid,South,Zone 2,1,0,4,...,0,161.0,37.0,NaN,17,0.0,A,6.0,22.0,23137.0
3,2023-01-01,WH_100003,EID_50003,Rural,Mid,North,Zone 3,7,4,2,...,0,103.0,21.0,NaN,17,1.0,A+,3.0,27.0,22115.0
4,2023-01-01,WH_100004,EID_50004,Rural,Large,North,Zone 5,3,1,2,...,1,112.0,25.0,2009.0,18,0.0,C,6.0,24.0,24071.0

In [5]:
import numpy as np

# Calculate the number of records for 'rural' and 'urban'
total_records = len(df_CL)
rural_count = int(total_records * 0.7)
urban_count = total_records - rural_count

# Create the 'location' variable
location_changed = ['rural'] * rural_count + ['urban'] * urban_count
np.random.shuffle(location_changed)  # Shuffle to mix 'rural' and 'urban' values

# Add the 'location' variable to the DataFrame
df_CL['location_changed'] = location_changed

# Save the updated DataFrame back to a CSV file
df_CL.to_csv('CPG_DATA_LOCATION_CHANGE1.csv', index=False)  # Replace 'updated_file.csv' with the desired output file name

# Print a success message
print("The 'location' variable has been added to the CSV file with 70% rural and 30% urban categories.")

The 'location' variable has been added to the CSV file with 70% rural and 30% urban categories.

In [6]:
df_CL.head()

,Date,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,Refill_Requests,transport_issue,No_of_Competitor,...,dist_from_hub,workers_num,wh_est_year,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton,location_changed
0,2023-01-01,WH_100000,EID_50000,Urban,Small,West,Zone 6,3,1,2,...,91.0,29.0,NaN,13,0.0,A,5.0,15.0,17115.0,urban
1,2023-01-01,WH_100001,EID_50001,Rural,Large,North,Zone 5,0,0,4,...,210.0,31.0,NaN,4,0.0,A,3.0,17.0,5074.0,urban
2,2023-01-01,WH_100002,EID_50002,Rural,Mid,South,Zone 2,1,0,4,...,161.0,37.0,NaN,17,0.0,A,6.0,22.0,23137.0,urban
3,2023-01-01,WH_100003,EID_50003,Rural,Mid,North,Zone 3,7,4,2,...,103.0,21.0,NaN,17,1.0,A+,3.0,27.0,22115.0,urban
4,2023-01-01,WH_100004,EID_50004,Rural,Large,North,Zone 5,3,1,2,...,112.0,25.0,2009.0,18,0.0,C,6.0,24.0,24071.0,rural

In [7]:
df_test_CL = session.table("CPG_DATA_ORIGINAL").to_pandas()

In [8]:
import numpy as np

# Calculate the number of records for 'rural' and 'urban'
total_records = len(df_test_CL)
rural_count = int(total_records * 0.7)
urban_count = total_records - rural_count

# Create the 'location' variable
location_changed = ['rural'] * rural_count + ['urban'] * urban_count
np.random.shuffle(location_changed)  # Shuffle to mix 'rural' and 'urban' values

# Add the 'location' variable to the DataFrame
df_test_CL['location_changed'] = location_changed

# Save the updated DataFrame back to a CSV file
df_test_CL.to_csv('CPG_DATA_LOCATION_CHANGE1.csv', index=False)  # Replace 'updated_file.csv' with the desired output file name

# Print a success message
print("The 'location' variable has been added to the CSV file with 70% rural and 30% urban categories.")

The 'location' variable has been added to the CSV file with 70% rural and 30% urban categories.

In [9]:
df_test_CL

,Date,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,Refill_Requests,transport_issue,No_of_Competitor,...,dist_from_hub,workers_num,wh_est_year,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton,location_changed
0,2023-01-01,WH_100000,EID_50000,Urban,Small,West,Zone 6,3,1,2,...,91.0,29.0,NaN,13,0.0,A,5.0,15.0,17115.0,rural
1,2023-01-01,WH_100001,EID_50001,Rural,Large,North,Zone 5,0,0,4,...,210.0,31.0,NaN,4,0.0,A,3.0,17.0,5074.0,urban
2,2023-01-01,WH_100002,EID_50002,Rural,Mid,South,Zone 2,1,0,4,...,161.0,37.0,NaN,17,0.0,A,6.0,22.0,23137.0,urban
3,2023-01-01,WH_100003,EID_50003,Rural,Mid,North,Zone 3,7,4,2,...,103.0,21.0,NaN,17,1.0,A+,3.0,27.0,22115.0,rural
4,2023-01-01,WH_100004,EID_50004,Rural,Large,North,Zone 5,3,1,2,...,112.0,25.0,2009.0,18,0.0,C,6.0,24.0,24071.0,urban
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349996,2024-02-01,WH_124996,EID_74996,Rural,Mid,West,Zone 2,4,7,1,...,130.0,39.0,2005.0,23,0.0,B,21.0,36.0,37853.0,urban
349997,2024-02-01,WH_124997,EID_74997,Urban,Large,South,Zone 5,12,4,0,...,147.0,27.0,2012.0,12,1.0,A,30.0,55.0,65888.0,rural
349998,2024-02-01,WH_124998,EID_74998,Rural,Small,North,Zone 1,1,4,10,...,60.0,44.0,NaN,24,0.0,B,17.0,38.0,38534.0,rural
349999,2024-02-01,WH_124999,EID_74999,Rural,Mid,West,Zone 4,3,3,4,...,239.0,57.0,NaN,22,0.0,B+,16.0,41.0,58351.0,urban
350000,2024-02-01,WH_100000,EID_50000,Urban,Small,West,Zone 6,4,2,3,...,91.0,56.0,2019.0,5,0.0,A,33.0,39.0,50619.0,rural

In [10]:
df_CL.head()

,Date,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,Refill_Requests,transport_issue,No_of_Competitor,...,dist_from_hub,workers_num,wh_est_year,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton,location_changed
0,2023-01-01,WH_100000,EID_50000,Urban,Small,West,Zone 6,3,1,2,...,91.0,29.0,NaN,13,0.0,A,5.0,15.0,17115.0,urban
1,2023-01-01,WH_100001,EID_50001,Rural,Large,North,Zone 5,0,0,4,...,210.0,31.0,NaN,4,0.0,A,3.0,17.0,5074.0,urban
2,2023-01-01,WH_100002,EID_50002,Rural,Mid,South,Zone 2,1,0,4,...,161.0,37.0,NaN,17,0.0,A,6.0,22.0,23137.0,urban
3,2023-01-01,WH_100003,EID_50003,Rural,Mid,North,Zone 3,7,4,2,...,103.0,21.0,NaN,17,1.0,A+,3.0,27.0,22115.0,urban
4,2023-01-01,WH_100004,EID_50004,Rural,Large,North,Zone 5,3,1,2,...,112.0,25.0,2009.0,18,0.0,C,6.0,24.0,24071.0,rural

In [11]:
df_test_CL.head()

,Date,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,Refill_Requests,transport_issue,No_of_Competitor,...,dist_from_hub,workers_num,wh_est_year,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton,location_changed
0,2023-01-01,WH_100000,EID_50000,Urban,Small,West,Zone 6,3,1,2,...,91.0,29.0,NaN,13,0.0,A,5.0,15.0,17115.0,rural
1,2023-01-01,WH_100001,EID_50001,Rural,Large,North,Zone 5,0,0,4,...,210.0,31.0,NaN,4,0.0,A,3.0,17.0,5074.0,urban
2,2023-01-01,WH_100002,EID_50002,Rural,Mid,South,Zone 2,1,0,4,...,161.0,37.0,NaN,17,0.0,A,6.0,22.0,23137.0,urban
3,2023-01-01,WH_100003,EID_50003,Rural,Mid,North,Zone 3,7,4,2,...,103.0,21.0,NaN,17,1.0,A+,3.0,27.0,22115.0,rural
4,2023-01-01,WH_100004,EID_50004,Rural,Large,North,Zone 5,3,1,2,...,112.0,25.0,2009.0,18,0.0,C,6.0,24.0,24071.0,urban

In [12]:
df_CL= df_CL.reset_index()
df_CL.head()

,index,Date,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,Refill_Requests,transport_issue,...,dist_from_hub,workers_num,wh_est_year,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton,location_changed
0,0,2023-01-01,WH_100000,EID_50000,Urban,Small,West,Zone 6,3,1,...,91.0,29.0,NaN,13,0.0,A,5.0,15.0,17115.0,urban
1,1,2023-01-01,WH_100001,EID_50001,Rural,Large,North,Zone 5,0,0,...,210.0,31.0,NaN,4,0.0,A,3.0,17.0,5074.0,urban
2,2,2023-01-01,WH_100002,EID_50002,Rural,Mid,South,Zone 2,1,0,...,161.0,37.0,NaN,17,0.0,A,6.0,22.0,23137.0,urban
3,3,2023-01-01,WH_100003,EID_50003,Rural,Mid,North,Zone 3,7,4,...,103.0,21.0,NaN,17,1.0,A+,3.0,27.0,22115.0,urban
4,4,2023-01-01,WH_100004,EID_50004,Rural,Large,North,Zone 5,3,1,...,112.0,25.0,2009.0,18,0.0,C,6.0,24.0,24071.0,rural

In [13]:
df_test_CL= df_test_CL.reset_index()
df_test_CL.head()

,index,Date,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,Refill_Requests,transport_issue,...,dist_from_hub,workers_num,wh_est_year,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton,location_changed
0,0,2023-01-01,WH_100000,EID_50000,Urban,Small,West,Zone 6,3,1,...,91.0,29.0,NaN,13,0.0,A,5.0,15.0,17115.0,rural
1,1,2023-01-01,WH_100001,EID_50001,Rural,Large,North,Zone 5,0,0,...,210.0,31.0,NaN,4,0.0,A,3.0,17.0,5074.0,urban
2,2,2023-01-01,WH_100002,EID_50002,Rural,Mid,South,Zone 2,1,0,...,161.0,37.0,NaN,17,0.0,A,6.0,22.0,23137.0,urban
3,3,2023-01-01,WH_100003,EID_50003,Rural,Mid,North,Zone 3,7,4,...,103.0,21.0,NaN,17,1.0,A+,3.0,27.0,22115.0,rural
4,4,2023-01-01,WH_100004,EID_50004,Rural,Large,North,Zone 5,3,1,...,112.0,25.0,2009.0,18,0.0,C,6.0,24.0,24071.0,urban

In [14]:
import pandas as pd
import numpy as np
import sklearn 

#import matplotlib.pyplot as plt
#%matplotlib inline
#import seaborn as sns


from sklearn.preprocessing import LabelEncoder, StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import warnings
warnings.simplefilter(action='ignore')

In [15]:
df_CL.nunique().sort_values(ascending=False)
df_CL.drop(columns=['Ware_house_ID','WH_Manager_ID','Date'], inplace = True)
df_CL['workers_num'].median()
df_CL['approved_wh_govt_certificate'].mode()
df_CL['approved_wh_govt_certificate'].fillna(df_CL['approved_wh_govt_certificate'].mode()[0], inplace=True)
df_CL.isnull().sum()
df_CL.nunique().sort_values(ascending= True)

flood_impacted                       2
temp_reg_mach                        2
electric_supply                      2
flood_proof                          2
Warehouse_Ownership                  2
location_changed                     2
Location_type                        2
WH_capacity_size                     3
zone                                 4
WH_regional_zone                     6
approved_wh_govt_certificate         7
transport_issue                     23
No_of_Competitor                    23
Refill_Requests                     27
wh_est_year                         28
wh_breakdown                        47
govt_check                          70
storage_issue_reported              73
workers_num                        122
Number_of_distributors             138
dist_from_hub                      217
No_of_retailers                   9068
product_wg_ton                   65179
index                           350001
dtype: int64

In [16]:
for i in df_CL.columns[df_CL.nunique()<=4]:
    print("Number of unique values in column ", i, ' :', len(df_CL[i].unique()))
    print(df_CL[i].value_counts())
    print(' ')

Number of unique values in column  Location_type  : 2
Location_type
Rural    321398
Urban     28603
Name: count, dtype: int64

Number of unique values in column  WH_capacity_size  : 3
WH_capacity_size
Large    142366
Mid      140280
Small     67355
Name: count, dtype: int64

Number of unique values in column  zone  : 4
zone
North    143892
West     111035
South     89068
East       6006
Name: count, dtype: int64

Number of unique values in column  Warehouse_Ownership  : 2
Warehouse_Ownership
Company Owned    190092
Rented           159909
Name: count, dtype: int64

Number of unique values in column  flood_impacted  : 2
flood_impacted
0    315645
1     34356
Name: count, dtype: int64

Number of unique values in column  flood_proof  : 2
flood_proof
0    330876
1     19125
Name: count, dtype: int64

Number of unique values in column  electric_supply  : 2
electric_supply
1    229909
0    120092
Name: count, dtype: int64

Number of unique values in column  temp_reg_mach  : 3
temp_reg_mach
0.0    243852
1.0    106148
Name: count, dtype: int64

Number of unique values in column  location_changed  : 2
location_changed
rural    245000
urban    105001
Name: count, dtype: int64

In [17]:
def count_outliers(df_CL):
    outliers={}
    for i in df_CL.columns:
        if pd.api.types.is_numeric_dtype(df_CL[i]):
            q1 = df_CL[i].quantile(0.25)
            q3 = df_CL[i].quantile(0.75)
            iqr = q3 - q1
            lower = q1 - 1.5*iqr
            upper = q3 + 1.5*iqr
            outliers[i] = df_CL[(df_CL[i] < lower) | (df_CL[i] > upper)].shape[0]
        else:
            pass
    return outliers

In [18]:
outlier_counts = count_outliers(df_CL)
outlier_counts

{'index': 0,
 'Refill_Requests': 4159,
 'transport_issue': 3852,
 'No_of_Competitor': 16980,
 'No_of_retailers': 7980,
 'Number_of_distributors': 494,
 'flood_impacted': 34356,
 'flood_proof': 19125,
 'electric_supply': 0,
 'dist_from_hub': 0,
 'workers_num': 8332,
 'wh_est_year': 0,
 'storage_issue_reported': 932,
 'temp_reg_mach': 0,
 'wh_breakdown': 436,
 'govt_check': 114,
 'product_wg_ton': 1327}

In [19]:
df_CL['product_wg_ton'].corr(df_CL['flood_proof'])
df_CL['product_wg_ton'].corr(df_CL['flood_impacted'])
df_CL.drop(columns=['flood_proof', 'flood_impacted'], inplace = True)

In [20]:
def remove_outliers(df_CL):
    num_df = df_CL.select_dtypes(include=['int', 'float'])
    q1 = num_df.quantile(0.25)
    q3 = num_df.quantile(0.75)
    iqr = q3 - q1
    lower = q1 - 1.5*iqr
    upper = q3 + 1.5*iqr
    df_no_outliers = num_df[((num_df >= lower) & (num_df <= upper)).all(axis=1)]
    return df_CL.loc[df_no_outliers.index]

In [21]:
df_CL = remove_outliers(df_CL)
df_CL.shape

(173446, 22)

In [22]:
df_test_CL.nunique().sort_values(ascending=False)

index                           350001
product_wg_ton                   65179
Ware_house_ID                    25000
WH_Manager_ID                    25000
No_of_retailers                   9068
dist_from_hub                      217
Number_of_distributors             138
workers_num                        122
storage_issue_reported              73
govt_check                          70
wh_breakdown                        47
wh_est_year                         28
Refill_Requests                     27
transport_issue                     23
No_of_Competitor                    23
Date                                14
approved_wh_govt_certificate         7
WH_regional_zone                     6
zone                                 4
WH_capacity_size                     3
electric_supply                      2
temp_reg_mach                        2
flood_proof                          2
flood_impacted                       2
Warehouse_Ownership                  2
Location_type                        2
location_changed                     2
dtype: int64

In [23]:
df_test_CL.drop(columns=['Ware_house_ID', 'WH_Manager_ID'], inplace = True)
print(len(df_test_CL[df_test_CL.duplicated]))

0

In [24]:
null_values_features = [i for i in df_test_CL.columns if df_test_CL[i].isnull().sum()>1]
for i in null_values_features:
    print(i, np.round(df_test_CL[i].isnull().mean()*100, 2), "% missing values")

workers_num 0.28 % missing values
wh_est_year 47.52 % missing values

In [25]:
df_test_CL.drop(columns=['wh_est_year'], inplace = True)
df_test_CL['workers_num'].median()
df_test_CL['workers_num'].fillna(df_test_CL['workers_num'].median(), inplace=True)
df_test_CL['approved_wh_govt_certificate'].mode()
df_test_CL['approved_wh_govt_certificate'].fillna(df_test_CL['approved_wh_govt_certificate'].mode()[0], inplace=True)
df_test_CL.isnull().sum()
df_test_CL.nunique().sort_values(ascending= True)

location_changed                     2
electric_supply                      2
flood_proof                          2
flood_impacted                       2
Warehouse_Ownership                  2
temp_reg_mach                        2
Location_type                        2
WH_capacity_size                     3
zone                                 4
WH_regional_zone                     6
approved_wh_govt_certificate         7
Date                                14
transport_issue                     23
No_of_Competitor                    23
Refill_Requests                     27
wh_breakdown                        47
govt_check                          70
storage_issue_reported              73
workers_num                        122
Number_of_distributors             138
dist_from_hub                      217
No_of_retailers                   9068
product_wg_ton                   65179
index                           350001
dtype: int64

In [26]:
for i in df_test_CL.columns[df_test_CL.nunique()<=4]:
    print("Number of unique values in column ", i, ' :', len(df_test_CL[i].unique()))
    print(df_test_CL[i].value_counts())
    print(' ')

Number of unique values in column  Location_type  : 2
Location_type
Rural    321398
Urban     28603
Name: count, dtype: int64

Number of unique values in column  WH_capacity_size  : 3
WH_capacity_size
Large    142366
Mid      140280
Small     67355
Name: count, dtype: int64

Number of unique values in column  zone  : 4
zone
North    143892
West     111035
South     89068
East       6006
Name: count, dtype: int64

Number of unique values in column  Warehouse_Ownership  : 2
Warehouse_Ownership
Company Owned    190092
Rented           159909
Name: count, dtype: int64

Number of unique values in column  flood_impacted  : 2
flood_impacted
0    315645
1     34356
Name: count, dtype: int64

Number of unique values in column  flood_proof  : 2
flood_proof
0    330876
1     19125
Name: count, dtype: int64

Number of unique values in column  electric_supply  : 2
electric_supply
1    229909
0    120092
Name: count, dtype: int64

Number of unique values in column  temp_reg_mach  : 3
temp_reg_mach
0.0    243852
1.0    106148
Name: count, dtype: int64

Number of unique values in column  location_changed  : 2
location_changed
rural    245000
urban    105001
Name: count, dtype: int64

In [27]:
df_test_CL['product_wg_ton'].corr(df_test_CL['storage_issue_reported'])
df_test_CL.drop(columns=['flood_proof', 'flood_impacted'], inplace = True)

In [28]:
def remove_outliers(df_test_CL):
    num_df = df_test_CL.select_dtypes(include=['int', 'float'])
    q1 = num_df.quantile(0.25)
    q3 = num_df.quantile(0.75)
    iqr = q3 - q1
    lower = q1 - 1.5*iqr
    upper = q3 + 1.5*iqr
    df_no_outliers = num_df[((num_df >= lower) & (num_df <= upper)).all(axis=1)]
    return df_test_CL.loc[df_no_outliers.index]

In [29]:
df_test_CL = remove_outliers(df_test_CL)
df_test_CL.head()

,index,Date,Location_type,WH_capacity_size,zone,WH_regional_zone,Refill_Requests,transport_issue,No_of_Competitor,No_of_retailers,...,electric_supply,dist_from_hub,workers_num,storage_issue_reported,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown,govt_check,product_wg_ton,location_changed
0,0,2023-01-01,Urban,Small,West,Zone 6,3,1,2,4651.0,...,1,91.0,29.0,13,0.0,A,5.0,15.0,17115.0,rural
1,1,2023-01-01,Rural,Large,North,Zone 5,0,0,4,6217.0,...,1,210.0,31.0,4,0.0,A,3.0,17.0,5074.0,urban
2,2,2023-01-01,Rural,Mid,South,Zone 2,1,0,4,4306.0,...,0,161.0,37.0,17,0.0,A,6.0,22.0,23137.0,urban
3,3,2023-01-01,Rural,Mid,North,Zone 3,7,4,2,6000.0,...,0,103.0,21.0,17,1.0,A+,3.0,27.0,22115.0,rural
4,4,2023-01-01,Rural,Large,North,Zone 5,3,1,2,4740.0,...,1,112.0,25.0,18,0.0,C,6.0,24.0,24071.0,urban

In [30]:
num_columns_train=[i for i in df_CL.columns if df_CL[i].dtypes != 'O']
cat_columns_train=[i for i in df_CL.columns if df_CL[i].dtypes == 'O']

# Numerical columns & categorical columns in test dataset

num_columns_test=[i for i in df_test_CL.columns if df_test_CL[i].dtypes != 'O']
cat_columns_test=[i for i in df_test_CL.columns if df_test_CL[i].dtypes == 'O']

In [31]:
for i in cat_columns_train:
    df_CL[i] = LabelEncoder().fit_transform(df_CL[i])

for i in cat_columns_test:
    df_test_CL[i] = LabelEncoder().fit_transform(df_test_CL[i])

In [32]:
df_CL.nunique().sort_values(ascending=False)
columns_with_more_than_two_unique_values_train = df_CL.columns[df_CL.nunique()>2]
columns_with_more_than_two_unique_values_test = df_test_CL.columns[df_test_CL.nunique()>2]

In [33]:
X_train = df_CL.drop(['product_wg_ton','wh_est_year', 'WH_regional_zone'], axis=1)
Y_train = df_CL['product_wg_ton']
X_train.columns

Index(['index', 'Location_type', 'WH_capacity_size', 'zone', 'Refill_Requests',
       'transport_issue', 'No_of_Competitor', 'No_of_retailers',
       'Warehouse_Ownership', 'Number_of_distributors', 'electric_supply',
       'dist_from_hub', 'workers_num', 'storage_issue_reported',
       'temp_reg_mach', 'approved_wh_govt_certificate', 'wh_breakdown',
       'govt_check', 'location_changed'],
      dtype='object')

In [34]:
X_test =  df_test_CL.drop(['product_wg_ton','WH_regional_zone','Date'], axis=1)
X_test.head()
X_test.columns

Index(['index', 'Location_type', 'WH_capacity_size', 'zone', 'Refill_Requests',
       'transport_issue', 'No_of_Competitor', 'No_of_retailers',
       'Warehouse_Ownership', 'Number_of_distributors', 'electric_supply',
       'dist_from_hub', 'workers_num', 'storage_issue_reported',
       'temp_reg_mach', 'approved_wh_govt_certificate', 'wh_breakdown',
       'govt_check', 'location_changed'],
      dtype='object')

In [35]:
X_train.columns

Index(['index', 'Location_type', 'WH_capacity_size', 'zone', 'Refill_Requests',
       'transport_issue', 'No_of_Competitor', 'No_of_retailers',
       'Warehouse_Ownership', 'Number_of_distributors', 'electric_supply',
       'dist_from_hub', 'workers_num', 'storage_issue_reported',
       'temp_reg_mach', 'approved_wh_govt_certificate', 'wh_breakdown',
       'govt_check', 'location_changed'],
      dtype='object')

In [36]:
X_train= X_train.reset_index()

In [37]:
X_train.columns

Index(['level_0', 'index', 'Location_type', 'WH_capacity_size', 'zone',
       'Refill_Requests', 'transport_issue', 'No_of_Competitor',
       'No_of_retailers', 'Warehouse_Ownership', 'Number_of_distributors',
       'electric_supply', 'dist_from_hub', 'workers_num',
       'storage_issue_reported', 'temp_reg_mach',
       'approved_wh_govt_certificate', 'wh_breakdown', 'govt_check',
       'location_changed'],
      dtype='object')

In [38]:
X_test1 = X_test.iloc[:100, :]
X_test1.columns

Index(['index', 'Location_type', 'WH_capacity_size', 'zone', 'Refill_Requests',
       'transport_issue', 'No_of_Competitor', 'No_of_retailers',
       'Warehouse_Ownership', 'Number_of_distributors', 'electric_supply',
       'dist_from_hub', 'workers_num', 'storage_issue_reported',
       'temp_reg_mach', 'approved_wh_govt_certificate', 'wh_breakdown',
       'govt_check', 'location_changed'],
      dtype='object')

In [39]:
X_train.columns

Index(['level_0', 'index', 'Location_type', 'WH_capacity_size', 'zone',
       'Refill_Requests', 'transport_issue', 'No_of_Competitor',
       'No_of_retailers', 'Warehouse_Ownership', 'Number_of_distributors',
       'electric_supply', 'dist_from_hub', 'workers_num',
       'storage_issue_reported', 'temp_reg_mach',
       'approved_wh_govt_certificate', 'wh_breakdown', 'govt_check',
       'location_changed'],
      dtype='object')

In [40]:
X_train = X_train.drop(['level_0'], axis=1)
X_train.columns

Index(['index', 'Location_type', 'WH_capacity_size', 'zone', 'Refill_Requests',
       'transport_issue', 'No_of_Competitor', 'No_of_retailers',
       'Warehouse_Ownership', 'Number_of_distributors', 'electric_supply',
       'dist_from_hub', 'workers_num', 'storage_issue_reported',
       'temp_reg_mach', 'approved_wh_govt_certificate', 'wh_breakdown',
       'govt_check', 'location_changed'],
      dtype='object')

In [41]:
GBmodel = GradientBoostingRegressor()
GBmodel.fit(X_train,Y_train)
GB_predicted = GBmodel.predict(X_test1)
GB_predicted

array([18285.98620455,  8918.0361051 , 22749.81750397, 23327.63424761,
       23128.96110348, 30626.39195386, 29820.41544832, 23128.96110348,
       18687.27731895,  9612.62580813, 21050.70606803, 13438.39991825,
        6983.87202612, 29605.82897485,  8261.87764072,  7443.88670101,
       11583.16562614, 18101.50316283, 38330.83041501, 27286.73458919,
       23188.13952213, 17391.21943902, 35677.73624218, 32113.95604548,
       15987.21443955, 27273.0817751 , 11448.86093226, 14920.31135074,
        8281.3939885 ,  9373.53569858, 15263.53472185, 22408.78138675,
       43619.17566541, 19716.87338026, 19953.61894125,  8314.04179561,
       41028.14611571, 21054.85394724,  8504.51547066, 46252.06836789,
       29110.0271577 , 32081.30823836, 22148.88088441, 32052.96282403,
       27349.57281519, 28443.97597516, 20224.42461323, 46031.67595535,
       10861.4779465 , 41435.025093  , 10832.75980025, 25570.55703149,
       19692.90283184, 23866.66156511, 24356.28369433, 17319.47798067,
       11606.76145872, 21066.48815765, 32092.21810073, 27686.09579503,
       28375.91770054, 41127.72625069, 15072.70197865, 26693.40195075,
       27258.38917485, 31103.18606012, 40587.21383369, 27345.42493598,
       33304.76916143, 11252.76569784, 21833.0937686 , 22144.12734771,
       17141.66786188, 28548.09003396, 15927.88713601, 21824.46110312,
       32121.30865798, 10787.95205511, 10818.13656392, 22183.33221879,
       17395.96902076, 23878.29577553, 33770.09416396, 17172.419553  ,
       22320.04503816, 36833.9754837 , 17385.49761859,  8258.80414589,
        8566.02407723, 18329.03458075, 28119.92784094, 31518.7276075 ,
       19427.34702036, 17074.03935935, 27361.20702561, 42903.97326708,
       19581.12117723,  8561.87619802,  8443.5222492 , 30220.20623235])

In [42]:
predictions_location_change = pd.DataFrame(GB_predicted, columns =['product_wg_ton_pred_location_change']) 
predictions_location_change

    product_wg_ton_pred_location_change
0                          18285.986205
1                           8918.036105
2                          22749.817504
3                          23327.634248
4                          23128.961103
..                                  ...
95                         42903.973267
96                         19581.121177
97                          8561.876198
98                          8443.522249
99                         30220.206232

[100 rows x 1 columns]

In [44]:
predictions_location_change = predictions_location_change.reset_index()
predictions_location_change

    index  product_wg_ton_pred_location_change
0       0                         18285.986205
1       1                          8918.036105
2       2                         22749.817504
3       3                         23327.634248
4       4                         23128.961103
..    ...                                  ...
95     95                         42903.973267
96     96                         19581.121177
97     97                          8561.876198
98     98                          8443.522249
99     99                         30220.206232

[100 rows x 2 columns]

In [45]:
predictions_location_change.shape

(100, 2)

In [ ]:
#df_test_CL= df_test_CL.reset_index()
#df_test_CL.head()

df_test_CL = df_test_CL.iloc[:100, :]
df_test_CL

In [ ]:
final_reco = pd.merge(df_test_CL,predictions_location_change,on='index',how='inner')

In [ ]:
df_change_location=session.createDataFrame(
        final_reco.values.tolist(),
        schema=final_reco.columns.tolist())

In [ ]:
df_change_location.write.mode("overwrite").save_as_table("CPGWH_DEMO.FMCG.CPG_DATA_PRED_CHANGE_LOCATION12")

In [ ]:
predictions_nolocationchange = pd.DataFrame(LR_y_predicted, columns =['product_wg_ton_pred_nolocationchange']) 
predictions_nolocationchange

In [ ]:
predictions_nolocationchange = predictions_nolocationchange.reset_index()

predictions_nolocationchange

In [ ]:
final_reco = pd.merge(df_test_or,predictions_nolocationchange,on='index',how='inner')
final_reco.head()

In [ ]:
df_nochange_location=session.createDataFrame(
        final_reco.values.tolist(),
        schema=final_reco.columns.tolist())

In [ ]:
df_test_or.write.mode("overwrite").save_as_table("CPG_DATA_PRED_NOCHANGE11")

In [ ]:
final_reco.to_csv('FMCG_data_original_predictions.csv', index=False)

In [ ]:
final_reco

In [ ]:
df_test_or.write.mode("overwrite").save_as_table("CPG_DATA_PRED_NOCHANGE11")

In [ ]:

predictions_location_nochange = predictions_nolocationchange.reset_index()

predictions_location_nochange

In [ ]:
df_test_location= df_test.reset_index()
df_test_location

In [ ]:
final_reco = pd.merge(df_test,predictions_location,on='index',how='inner')

In [ ]:
df_test.write.mode("overwrite").save_as_table("CPG_DATA_PRED_NOCHANGE1")
predictions_location.to_csv('FMCG_data_original_predictions.csv', index=False)

In [ ]:
predictions_location.to_csv('FMCG_data_original_predictions.csv', index=False)

In [ ]:
Y_test = df_test['product_wg_ton']
Y_test.head()

In [ ]:
# r2 score
lr_r2 = r2_score(Y_test, LR_y_predicted).round(3)
print('R2 score:  ', lr_r2)

# root mean squared error (RMSE)
lr_rmse = np.sqrt(mean_squared_error(Y_test, LR_y_predicted)).round(3)
print('Root Mean Squared Error:  ', lr_rmse) 

# mean absolute error (MAE)
lr_mae = mean_absolute_error(Y_test, LR_y_predicted).round(3)
print('Mean Absolute Error:  ', lr_mae)

In [ ]:
DTmodel = DecisionTreeRegressor(random_state = 0)

In [ ]:

DTmodel.fit(X_train, Y_train)

In [ ]:
DT_predicted = DTmodel.predict(X_test)

In [ ]:
DT_predicted

In [ ]:
# r2 score
dt_r2 = r2_score(Y_test, DT_predicted).round(3)
print('R2 score:  ', dt_r2)

# root mean squared error (RMSE)
dt_rmse = np.sqrt(mean_squared_error(Y_test, DT_predicted)).round(3)
print('Root Mean Squared Error:  ', dt_rmse) 

# mean absolute error (MAE)
dt_mae = mean_absolute_error(Y_test, DT_predicted).round(3)
print('Mean Absolute Error:  ', dt_mae)

In [ ]:
RFmodel = RandomForestRegressor(n_estimators = 100, max_depth = 4, random_state = 0) 
RFmodel.fit(X_train, Y_train)
RF_predicted = RFmodel.predict(X_test)
RF_predicted

In [ ]:
# r2 score
rf_r2 = r2_score(Y_test, RF_predicted).round(3)
print('R2 score:  ', rf_r2)

# root mean squared error (RMSE)
rf_rmse = np.sqrt(mean_squared_error(Y_test, RF_predicted)).round(3)
print('Root Mean Squared Error:  ', rf_rmse) 

# mean absolute error (MAE)
rf_mae = mean_absolute_error(Y_test, RF_predicted).round(3)
print('Mean Absolute Error:  ', rf_mae)

In [ ]:

GBmodel = GradientBoostingRegressor()
GBmodel.fit(X_train,Y_train)
GB_predicted = GBmodel.predict(X_test)
GB_predicted

In [ ]:
gb_r2 = r2_score(Y_test, GB_predicted).round(3)
print('R2 score:  ', gb_r2)

# root mean squared error (RMSE)
gb_rmse = np.sqrt(mean_squared_error(Y_test, GB_predicted)).round(3)
print('Root Mean Squared Error:  ', gb_rmse) 

# mean absolute error (MAE)
gb_mae = mean_absolute_error(Y_test, GB_predicted).round(3)
print('Mean Absolute Error:  ', gb_mae)

In [ ]:
ax1 = plt.subplot2grid((2, 3), (0, 0))
plt.scatter(Y_test, LR_y_predicted, color='#ffdab9', alpha=0.3, label='Actual')
plt.plot([min(Y_test), max(Y_test)], [min(Y_test), max(Y_test)], linestyle='--', color='#2f4f4f', label='Predicted')
plt.title('Linear Regression')
plt.xlabel('Actual Values')
plt.ylabel('Predicted Values')
plt.legend()


ax1 = plt.subplot2grid((2, 3), (0, 1))
plt.scatter(Y_test, DT_predicted, color='#ffdab9', alpha=0.3)
plt.plot([min(Y_test), max(Y_test)], [min(Y_test), max(Y_test)], linestyle='--', color='#2f4f4f')
plt.title('Decision Tree')
plt.xlabel('Actual Values')
plt.ylabel('Predicted Values')

In [ ]:
ax1 = plt.subplot2grid((2, 3), (1, 1))
plt.scatter(Y_test, GB_predicted, color='#ffdab9', alpha=0.3)  # alpha controls point transparency for better visualization
plt.plot([min(Y_test), max(Y_test)], [min(Y_test), max(Y_test)], linestyle='--',color='#2f4f4f')
plt.title('Gradient Boosting')
plt.xlabel('Actual Values')
plt.ylabel('Predicted Values')

plt.show()

In [ ]:
import numpy as np

# Calculate the number of records for 'rural' and 'urban'
total_records = len(df_or)
rural_count = int(total_records * 0.7)
urban_count = total_records - rural_count

# Create the 'location' variable
location_changed = ['rural'] * rural_count + ['urban'] * urban_count
np.random.shuffle(location_changed)  # Shuffle to mix 'rural' and 'urban' values

# Add the 'location' variable to the DataFrame
df['location_changed'] = location_changed

# Save the updated DataFrame back to a CSV file
df.to_csv('CPG_DATA_ORIGINAL.csv', index=False)  # Replace 'updated_file.csv' with the desired output file name

# Print a success message
print("The 'location' variable has been added to the CSV file with 70% rural and 30% urban categories.")